@media (max-width: 1199px) {
    .home-top-products {
        .top-slider,
        .top-deals {
            width: 100%;
            max-width: unset;
            flex: unset;
        }
    }

    .product-top-home .deals-countdown {
        margin-left: 0;
        margin-right: 0;
    }
}