.hidden-title {
    .block-title {
        display: none;
    }
}

.hidden-action-cart {
    .product-item-inner {
        display: none;
    }

    .products-grid .product-item-info {
        padding-bottom: 0;
    }
}

.product-top-home {
    border: 1px solid #e5e5e5;

    .products-grid .product-item,
    .block-filterproducts {
        margin: 0;
    }

    .products-grid .product-item-info {
        .box-shadow-none();
    }

    .products-grid .product-item-details {
        padding-top: 5px;
    }

    .products-grid .product-item-name {
        margin-bottom: 1px;
    }

    .products-grid .product-item .price-box {
        margin: 1px 0 10px;
    }

    .deals-countdown {
        display: flex;
        margin: 0 10px 15px;
    }

    .deals-countdown .deals-time {
        border: none;
        width: 25%;
        text-align: center;
        padding: 5px 9px;
        &:not(:last-child) {
            border-right: 1px solid #fff;
        }
    }

}
