@media (min-width: 1200px) {
    .bg-content {
        background-color: #f2f2f2;
    }

    .content-box {
        background-color: #fff;
        padding: 30px;
    }

    .home-bottom-content .bottom-newsletter .subscribe-home .input-box #newsletter-home {
        border: none !important;
        background-color: #fff;
    }
}

@media (min-width: 1024px) {
    .layout-boxed .content-box {
        margin-left: -15px;
        margin-right: -15px;
    }
}

@media (max-width: 1024px) {
    .content-box {
        padding-top: 30px;
    }
}

@media (max-width: 768px) {
    .content-box {
        padding-top: 15px;
    }

    .col-r-banner {
        display: flex;
        width: unset !important;
        margin-left: -15px;
        margin-right: -15px;

        .banner-item {
            width: 50%;
            padding: 0 15px;
        }

        img {
            width: 100%;
        }
    }

    .brand-inner {
        padding-left: 30px;
        padding-right: 30px;
    }

    .brand-inner .owl-theme .owl-nav [class*='owl-'].owl-next {
        right: -30px;
    }

    .brand-inner .owl-theme .owl-nav [class*='owl-'].owl-prev {
        left: -30px;
    }
}

@media (max-width: 640px) {
    .home-bottom-content {
        display: block;
    }

    .home-bottom-content .bottom-content {
        width: 100%;
        border: none !important;
    }
}

@media (max-width: 480px) {
    .grid-banner-home .item-banner {
        width: 100%;
        max-width: unset;
        flex: unset;
    }
}