<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../Config/etc/system_file.xsd">
    <system>
        <tab id="magentech" translate="label" sortOrder="100">
            <label>Magentech.com</label>
        </tab>
        <section id="sizechart" translate="label" type="text" sortOrder="42" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <class>separator-top</class>
            <label>SM Size Chart</label>
            <tab>magentech</tab>
            <resource>Sm_FilterProducts::config_sizechart</resource>
            <group id="general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>General Settings</label>

                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="title_sizechart" translate="label" type="text" sortOrder="5" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Title</label>

                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>

                <field id="sizechart_code" translate="label" type="text" sortOrder="10" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Size Attribute Code</label>

                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>

                <field id="size_chart_position" translate="label" type="select" sortOrder="15" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Position</label>
                    <source_model>Sm\SizeChart\Model\Config\Source\Position</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>

                <field id="sizechart_icon" translate="label" type="image" sortOrder="20" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Icon</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Image</backend_model>
                    <upload_dir config="system/filesystem/media" scope_info="1">sm_sizechart</upload_dir>
                    <base_url type="media" scope_info="1">sm_sizechart</base_url>
                    <depends>
                        <field id="size_chart_position">options</field>
                        <field id="enable">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
