@media (min-width: 1024px) {
    .layout-boxed .page-wrapper .block-home-content {
        margin-left: -15px;
        margin-right: -15px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 767px) {
    .block-home-content .banner-grid-10 img {
        width: 100%;
    }

    .banner-grid-10 .r-banner,
    .banner-grid-10 .l-banner {
        margin-left: 0;
        margin-right: 0;
    }

    .newsletter-bottom-home {
        padding-left: 0;
        padding-right: 0;
        background: none;
    }
}

@media (max-width: 560px) {
    .deal-countdown .deals-countdown {
        position: static;
        margin-bottom: 20px;
    }

    .deal-countdown .product-item-info .image-product {
        float: none;
        width: 100%;
        text-align: center;
    }

    .deal-countdown .product-item-info .product-item-details {
        float: none;
        width: 100%;
        padding: 10px 10px 0;
    }
}
