@media (min-width: 1024px) {
    .tabs-product-line .ltabs-tabs-container {
        text-align: center;

        .ltabs-tabs li {
            border: none !important;
            margin: 0 2px;
            padding: 8px 18px;
            background-color: transparent;
            color: #222;
            text-transform: uppercase;
            .border-radius(2px);
            .transition(.1s);
        }

        .ltabs-tabs li:hover,
        .ltabs-tabs li.tab-sel {
            background-color: #222;
            color: #fff;
        }
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .deal-box .product-item-info .image-product {
        width: 37%;
    }

    .deal-box .product-item-info .product-item-details {
        width: 60%;
    }
}

@media (max-width: 767px) {
    .service-middle > ul > li {
        width: 50%;
    }
}

@media (max-width: 560px) {
    .deal-box .product-item-info .image-product {
        float: none;
        width: 100%;
    }

    .deal-box .product-item-info .product-item-details {
        width: 100%;
        float: none;
        padding-top: 10px;
    }
}

@media (max-width: 560px) {
    .service-middle > ul > li > a strong {
        font-size: 95%;
    }
}


