@media (max-width: 1024px) {
    .ft-newsletter .title-newsletter {
        font-size: 200%;
    }
}

@media (max-width: 768px) {
    .ft-newsletter .title-newsletter {
        padding-left: 0;

        &:before {
            display: none;
        }
    }

    .footer-bottom .payment-footer {
        text-align: unset;
        padding-top: 10px;
    }
}

@media (max-width: 560px) {
    .ft-newsletter {
        padding: 10px 20px 20px;
    }

    .ft-newsletter .title-newsletter {
        font-size: 160%;
    }
}

