@media (max-width: 1199px) {
    .newsletter-home-container {
        display: none;
    }

    .static-image-block-1 {
        width: 100%;
        max-width: 100%;
        flex: unset;
    }

    .static-image-block-1 img {
        width: 100%;
    }

    .static-image-block-1 .col-1-image {
        width: 68%;
    }

    .static-image-block-1 .col-2-image {
        width: 31%;
    }

    .static-image-block-1 .image-2,
    .static-image-block-1 .image-3 {
        width: 49%;
    }

    .content-home .main-home,
    .content-home .sidebar-home {
        float: none !important;
        padding: 0 !important;
        width: unset !important;
    }

    .content-home .main-home .main-full-banner img {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .newsletter-home-container {
        display: block;
    }
}

@media (max-width: 560px) {
    .static-image-block-1 .image-2,
    .static-image-block-1 .image-3,
    .static-image-block-1 .col-1-image,
    .static-image-block-1 .col-2-image {
        float: none;
        width: 100%;
    }

    .static-image-block-1 .image-1 {
        margin-bottom: 30px;
    }
}