@media (min-width: 1920px){
	.block-deal-full-31 { 
		.block-filterproducts {
			background:url('../images/bg-titlesale.jpg') no-repeat left center;
			.block-content{
				padding: 0 150px 0 200px;
				.products-grid .product-item-info {
					.image-product{
						width: 58%;
					}
					.product-item-details{
						width: 42%;
					}
				}
			}
		}
	}
}
@media (max-width: 1820px){
	.block-home-31 .owl-theme .owl-nav [class*='owl-']{
		&.owl-prev {
			left:0px;
		}
		&.owl-next {
			right:0px;
		}
	}
}
@media (max-width:1199px){
	.block-deal-full-31 .block-filterproducts .products-grid .product-item-info{
		.image-product {
			width:45%;
		}
		.product-item-details {
			width:55%;
			.title-countdown-slider{
				padding: 25px 5px 20px;
			}
		}
	}
	.block-service-31 .item {
		padding: 45px 15px;
		.info h3{
			font-size: 107.69%;
		}
	}
	.block-home-31.banner-home .item:before {
		display:none;
	}
}
@media  (max-width: 1399px){
	.banner-room .item .content{
		width: 90%;
	}
}


@media (max-width: 991px){
	.block-service-31 .item {
		margin-bottom:30px;
	}
	
	.block-home-31 .owl-theme .owl-nav [class*='owl-']{
		display:none;
	}
	.block-deal-full-31 .block-filterproducts .products-grid .product-item-info {
		display:block;
		margin:0px;
		.product-item-details,.image-product{
			width: 100%;
			padding:0px;
			 .price-box{
				 margin-bottom:30px;
			 }
			.product-item-actions .actions-primary button{
				padding:0 40px;
			}
		}
	}
	.banner-room {
		padding: 50px 0;
		.item  {
			margin-bottom:30px;
			.content{
				padding: 25px 10px;
				width: 100% !important;
				.transform(translate(0, 0));
				left: 0;
				position:inherit;
			}
		}
	}
	.block-social ul li a{
		padding: 0 25px;
	}
	.banner-image-home {
		padding:5rem 0;
		h3{
		  font-size: 3rem;
		}
	}
	.block-home-31.banner-home .item .content {
		p{
		    font-size: 1.2rem;
			margin-bottom: 10px;
		}
		h3{
			font-size: 3rem;
		}
	}
}
@media (max-width: 767px){
	.block-home-31 {
		margin-bottom: 60px;
		.block-title strong{
			font-size: 230%;
			margin-bottom: 10px;
		}
	}
	.block-home-31.banner-home .item{
		margin-bottom:30px;
	}
	
}
@media (max-width:575px){
	.block-social ul li a{
		padding: 0 14px;
	}
	.banner-room{
		background-repeat:repeat;
		
	}
}


