& when (@media-common = true) {
    .sm-sizechart .modal-header {
        border: none;
    }

    .sm-sizechart .modal-inner-wrap {
        max-width: 800px;
    }

    .has-sizechart {
        position: relative;

        .button-sizechart-container {
            position: absolute;
            top: 0;
            right: 0;
        }
    }

    .sm-size-chart-icon {
        vertical-align: middle;
        margin: 0 3px;
    }
}