@media (min-width: 1024px) {
    .tabs-product-flex {
        .sm-listing-tabs .ltabs-tabs-container .ltabs-tabs {
            display: flex;
            border-bottom: 1px solid #e5e5e5;

            li {
                width: 25%;
                margin: 0;
                border-bottom: 2px solid transparent;
                text-align: center;
                text-transform: uppercase;
                font-weight: 400;
                position: relative;
                top: 1px;
                padding-bottom: 10px;
                font-size: 138.46%;
                color: #222;
            }
        }
    }
}

@media (min-width: 1024px) and (max-width: 1280px) {
    .banner-des .banner-title {
        padding-top: 0 !important;
    }

    .slider-store .owl-theme .owl-nav [class*='owl-'].owl-next {
        right: -95px;
    }

    .slider-store .owl-theme .owl-nav [class*='owl-'].owl-prev {
        left: -95px;
    }
}

@media (max-width: 768px) {
    .banner-des.revert .col-des {
        order: 10;
    }

    .brand-min > ul > li {
        width: 33.333333333%;
    }

    .slider-store .owl-theme .owl-nav [class*='owl-'].owl-next {
        right: 0;
    }

    .slider-store .owl-theme .owl-nav [class*='owl-'].owl-prev {
        left: 0;
    }

    .slider-store .owl-theme .owl-nav [class*='owl-']:before {
        font-size: 60px;
        color: #fff;
    }
}

@media (max-width: 560px) {
    .service-min > ul > li {
        width: 100%;
    }

    .banner-des .banner-title {
        font-size: 200%;
    }

    .banner-des .des {
        font-size: 107.69%;
    }

    .sv-bottom-page > ul > li {
        width: 100%;
    }

    .subcribe-home-min .title {
        font-size: 200%;
    }
}