@media (max-width: 1199px) {
    .home-page-7 {
        .sidebar-home .banner-image {
            float: left;
            width: 49%;

            &:nth-child(2n) {
                float: right;
            }

            img {
                width: 100%;
            }
        }
    }

}
