@media (min-width: 992px) and (max-width: 1199px) {
    .home-services.services-four ul li a {
        padding: 0 10px;
    }

    .home-services.services-four .service-info {
        margin-left: 70px;
    }

    .content-home .sidebar-home .product-type-list .products {
        display: flex;
    }

    .content-home .sidebar-home .product-type-list .product-item {
        width: 33.33333%;
    }

    .content-home .sidebar-home .product-type-list .product-item-info {
        margin: 10px 0;
    }

    .content-home .sidebar-home .product-type-list {
        margin-bottom: 0;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .home-top {
        .column-slider {
            width: 74.2%;
        }

        .column-banner {
            width: 25.8%;
        }
    }

    .home-services.services-four > ul > li {
        width: 50%;
        padding: 10px 0;

        &:nth-child(2n) a {
            border: none;
        }
    }

    .home-services.services-four .service-info {
        max-width: 170px;
    }

    .home-services.services-four ul li a {
        padding: 0 20px;
    }
}

@media (max-width: 1199px) {
    .content-home .sidebar-home .vertical-menu {
        display: none;
    }

    .content-home .main-home .grid-banner > .static-image {
        width: 33.3333%;

        img {
            width: 100%;
        }

        &.middle-banner .banner-image {
            margin-bottom: 12px !important;
        }
    }
}

@media (max-width: 767px) {
    .home-services.services-four > ul > li {
        width: 100%;
    }

    .home-top .column-banner img {
        width: 100%;
    }

    .sidebar-home .banner-image img {
        width: 100%;
    }
}

@media (max-width: 560px) {
    .content-home .main-home .grid-banner > .static-image {
        width: 100%;

        &:first-child .banner-image {
            margin-bottom: 10px;
        }
    }
}