@media (max-width: 767px) {
    .banner-10 .banner-l,
    .banner-10 .banner-m,
    .banner-10 .banner-r {
        margin-left: 0;
        margin-right: 0;

        img {
            width: 100%;
        }
    }
}

@media (max-width: 560px) {
    .full-cats .block-categories .cat-wrap .item {
        width: 100%;
    }

    .service-text {
        display: none;
    }
}
