.service-text {
    padding: 15px 0;

    ul {
        .ul-nostyle();
        display: flex;
        flex-wrap: wrap;
    }

    ul li {
        width: 33.3333333%;
        text-align: center;
        margin: 0;

        &:not(:last-child) {
            border-right: 1px solid #e5e5e5;
        }

        a {
            display: inline-block;
            padding: 5px 0;
        }
    }
}

.slidershow-type-3 {
    .owl-nav {
        margin: 0;
    }

    .owl-theme .owl-nav [class*='owl-'] {
        margin: -30px 0 0;
        padding: 0;
        width: 60px;
        height: 60px;
        text-align: center;
        line-height: 60px;
        border: none;
        background-color: rgba(0, 0, 0, 0.3);
        color: #fff;
        position: absolute;
        top: 50%;
        .border-radius(50%);
        .transition(.1s);

        &:before {
            font-size: 23px;
        }

        &.owl-next {
            right: 30px;
        }

        &.owl-prev {
            left: 30px;
        }
    }
}

.banner-10 {
    .banner-image {
        margin-bottom: 10px;
    }

    .banner-l {
        margin-right: -10px;
    }

    .banner-m {
        margin-left: -10px;
        margin-right: -5px;
    }

    .banner-r {
        margin-left: -15px;
    }
}

.block-home {
    .block-home-title {
        text-align: center;
        margin-bottom: 30px;
    }

    .block-home-title strong {
        font-size: 245%;
        color: #222;
        display: block;
        margin-bottom: 5px;
    }

    .products-grid .product-item {
        margin-bottom: 0;
    }
}

.block-home {
    .owl-theme .owl-nav [class*='owl-'] {
        margin: -30px 0 0;
        padding: 0;
        width: 60px;
        height: 60px;
        text-align: center;
        line-height: 60px;
        border: none;
        background-color: #fff;
        color: #666;
        position: absolute;
        top: 50%;
        .border-radius(50%);
        .transition(.1s);
        .box-shadow(0 0 10px rgba(0, 0, 0, 0.1));

        &:before {
            font-size: 23px;
        }

        &.owl-next {
            right: -30px;
        }

        &.owl-prev {
            left: -30px;
        }
    }
}

.banner-10 {
    margin-bottom: 40px;
}

.full-cats {
    .block-home-title {
        margin-bottom: 0;
        background-color: #000;
        padding: 60px 0 220px;

        strong {
            color: #fff;
        }

        p {
            color: #999;
        }
    }

    .block-categories {
        border-bottom: 1px dashed #e5e5e5;
        margin-top: -185px;
        margin-bottom: 50px !important;
        padding-bottom: 20px;

        .cat-title {
            text-transform: uppercase;
        }

        .cat-title a {
            display: inline-block;
            padding: 5px 0;
        }
    }

    .block-categories .cat-wrap .item {
        width: 33.333333%;
        text-align: center;
    }

    .btn-view {
        display: none;
    }
}

.block-post {
    margin-bottom: 50px;

    .blog-slider-type-2 {
        .info-post {
            padding-top: 10px;
        }

        .post-title {
            padding-top: 3px;
        }

        .date-post {
            background-color: #000;
            color: #fff;
        }
    }
}

.block-brand-bottom {
    border-top: 1px dashed #e5e5e5;
    padding: 25px 0;
    text-align: center;

    .owl-carousel .owl-item img {
        display: unset;
        width: auto;
        max-width: 100%;
    }
}