@media (max-width: 1024px) {
    .home-page-6 {
        padding-top: 20px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .tab-cms-container .tab-cmsblock {
        display: none;
    }

    .sm-listing-tabs .ltabs-wrap .ltabs-items-container {
        float: none;
        width: 100%;
    }
}

@media (max-width: 767px) {
    .tab-cms-container .tab-cmsblock {
        float: none;
        margin: 0;
        padding: 18px;
        width: unset;
    }

    .tab-cms-container .tab-cmsblock .banner-image img {
        width: 100%;
    }

    .sm-listing-tabs .ltabs-wrap .ltabs-items-container {
        float: none;
        width: 100%;
    }
}

@media (max-width: 480px) {
    .collection-sidebar ul li {
        width: 100%;
    }

    .banner-2 {
        margin-bottom: 40px !important;
    }

    .banner-2 .right-banner,
    .banner-2 .left-banner {
        float: none;
        width: 100%;
        padding-left: 0;
        padding-right: 0;

        img {
            width: 100%;
        }
    }

    .banner-2 .left-banner .banner-image {
        margin-bottom: 10px;
    }
}