.banner-2 {
    .clearfix();

    .left-banner {
        width: 66.67%;
        float: left;
    }

    .right-banner {
        float: right;
        padding-left: 10px;
        width: 33.32%;

        .banner-image:first-child {
            margin-bottom: 10px;
        }
    }
}

.blog-slider.show-date {
    .post-date {
        display: block;
        border-bottom: 1px solid #e5e5e5;
        margin-bottom: 13px;
        padding-bottom: 10px;
    }
}

/**
 * Tab cms block
 */

.tab-cms-container {
    .banner-image {
        margin-bottom: 0;
    }

    .listingtabs {
        .clearfix();
    }

    .ltabs-items-container {
        float: right;
        width: calc(~'100% - 300px');
    }

    .tab-cmsblock {
        float: left;
        width: 300px;
        margin: -1px 0 -1px -1px;
    }
}

.owl-carousel.product-items .owl-item:hover {
    z-index: 20;
}