@media (min-width: 1200px) {
	.block-subscribe-footer .newsletter-content .input-box input{
		min-width: 280px;
	}
}
@media (max-width: 991px) {
	.social-block-list ul {
	    display: table;
		margin:0 auto 15px;
	}
}
@media (max-width: 767px) {
	.social-block-list {
		margin-bottom: 15px;
	}
	.block-subscribe-footer .newsletter-content .input-box input {
		min-width: 240px;
	}
    .footer-bottom{
		text-align: center;
		.payment-footer{
		 margin:0 0 10px;
		}
		address{
			text-align: center; 
		}
	} 
	.block-subscribe-footer {
		margin-right: 0;
	}
}