@media (min-width: 1024px) {
    .tabs-product-banner {
        .sm-listing-tabs .ltabs-tabs-container {
            padding-right: 15px;
        }

        .sm-listing-tabs .ltabs-tabs-container .ltabs-tabs li {
            height: 58px;
            line-height: 58px;
            padding: 0 20px;
            background-color: none;
            border: none;
            text-transform: uppercase;
            font-size: 107.69%;
            color: #333;
            margin: 0;
            font-weight: 400;
        }

        .sm-listing-tabs .ltabs-tabs-container .ltabs-tabs li.tab-sel,
        .sm-listing-tabs .ltabs-tabs-container .ltabs-tabs li:hover {

        }

        .sm-listing-tabs .ltabs-wrap .ltabs-tabs-container {
            position: absolute;
            top: -58px;
            right: 0;
            margin: 0;
        }
    }

    .tabs-product-banner.slider-stagepadding .sm-listing-tabs .ltabs-wrap .ltabs-tabs-container {
        right: 15px;
    }
}

@media (max-width: 1023px) {
    .tabs-product-banner .sm-listing-tabs .ltabs-wrap .ltabs-tabs-container {
        margin: 10px 15px 30px;
    }

    .block-title-background.slider-product-filter.slider-stagepadding .block-title {
        margin: 0 15px 15px;
    }
}

@media (max-width: 560px) {
    .block-title-icon-bottom .block-title strong {
        font-size: 200%;
    }

    .service-tool ul li {
        width: 100%;

        a {
            padding: 25px 10px 20px;
        }
    }

    .content-box-cat .cat-title {
        font-size: 100%;
    }

    .content-box-cat .child-cat {
        display: none;
    }

    .tabs-product-banner .listingtabs .tab-cmsblock ul {
        flex-wrap: wrap;

        li {
            width: 100%;
        }
    }
}