@media (min-width: 1200px) {
    .page-layout-1column .product-4-columns .products.wrapper.products-grid .product-items .product-item {
        width: 25%;
    }

    .page-layout-1column .product-4-columns .products.wrapper.products-grid .product-items .product-item {
        clear: unset;
    }

    .page-layout-1column .product-4-columns .products.wrapper.products-grid .product-items .product-item:nth-child(5n+1) {
        clear: both;
    }
}

@media (max-width: 1024px) {
    .org-categories .cat-title {
        font-size: 100%;
    }

    .client-farm .social-f a {
        width: 40px;
        height: 40px;
        line-height: 40px;
    }
}

@media (max-width: 768px) {
    .org-categories .item {
        width: 33.333333%;
    }

    .client-farm > ul > li {
        width: 50%;
    }

    .f-service ul li {
        width: 50%;
    }

    .f-service li a {
        padding: 30px 10px 30px;
    }
}

@media (max-width: 560px) {
    .client-farm .info-f .name-f {
        font-size: 120%;
    }

    .f-service .s-title {
        font-size: 110%;
    }

    .block-categories .cat-wrap .item .cat-title {
        font-size: 85%;
    }
}