<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <magebig_order_comment>
            <general>
                <enable>1</enable>
                <print_invoice>1</print_invoice>
            </general>
        </magebig_order_comment>
    </default>
</config>
