
@media (max-width: 1199px){
	.banner-home-34 .content {
		h2 {
			font-size: 8rem;
			line-height: 100px;
		}
		h3 {
			font-size: 6rem;
			margin-bottom: 30px;
		}
		h4 {
			font-size: 3rem;
		}
	}
	.block-aboutus-34 {
		padding: 30px;
		.content {
			padding: 0;
			h3 {
				font-size: 2.5rem;
			}
			p {
				margin: 15px 0 30px;
			}
		}
	}
}

@media (max-width: 991px){
	.block-categories-v34 .children-cat.cat-women {
		margin-bottom:30px;
	}
	.block-gallery-34 .content ul{
		grid-template-columns: repeat(3, 1fr);
		li{
			margin-bottom:20px;
			&:nth-child(2n+1) {
				margin-top: 0px;
			}
		}
	}
}

@media (max-width: 767px){
	.block-aboutus-34 .content h3{
		margin-top: 15px;
	}

}
@media (max-width: 567px){
	.block-categories-v34 .item > a{
		margin-bottom: 10px;
	}
	.banner-home-34 {
		img {
		    min-height: 300px;
		}
		.content{
			h2 {
				font-size: 5rem;
				line-height: 80px;
			}
			h3 {
				font-size: 3rem;
				margin-bottom: 30px;
			}
			h4 {
				font-size: 2rem;
			}
		}
	}
	.block-home-34 {
		margin-bottom: 50px;
		&.tabs-product-slider{
			margin-bottom: 50px !;
		}
	}
	.block-categories-v34 .children-cat{
		margin-bottom: 50px;
	}
}
