@media (max-width: 768px) {
    .footer-head .newsletter-title {
        font-size: 185%;
        margin-top: 10px;
    }
}

@media (max-width: 767px) {
    .footer-description .social-block-list {
        float: none;
        margin-top: 10px;
    }

    .footer-description .social-block-list ul li {
        margin-right: 0;
        margin-left: 5px;
    }

    .payment-footer {
        text-align: unset;
        padding-top: 10px;
    }
}