@media (max-width: 991px) {
    .social-footer {
        float: none;
    }

    .footer-bottom .payment-footer {
        text-align: unset;
        padding-top: 10px;
    }
}

@media (max-width: 560px) {
    .social-footer,
    .newsletter-footer {
        display: block;
    }
}