.home-page-11 {
    .slidershow {
        margin-bottom: 0;
    }

}

.banner-content-position {
    position: relative;
    z-index: 10;

    .banner-position {
        margin-top: -115px;
    }
}

.simple-product-slider.title-style-2 {
    .block-title {
        margin-bottom: 30px;
    }

    .block-content {
        border: none;
    }

    .owl-theme .owl-nav {
        top: -75px;
    }
}

.client-full-background {
    padding: 60px 0;
    background: url("../images/bg-client-id11.jpg") no-repeat top center;

    .slider-for-client .name-client,
    .slider-for-client .text-client {
        color: #222;
    }

    .slider-for-client .add-client {
        color: #fff;
    }

    .slider-nav-client .client-img {
        background-color: #000;
        opacity: 1;
        .transition(.1s);

        img {
            opacity: .5;
            .transition(.1s);
        }
    }

    .slider-nav-client .slick-current .client-img {
        background: none;

        img {
            opacity: 1;
        }
    }
}

.tab-hot-center {
    .products-grid .product-center {
        .product-item-info {
            padding-bottom: 46px;
        }

        .product-item-details {
            padding-top: 16px;
        }

        .product-item-inner {
            position: static;
            margin-bottom: 35px;
        }

        .product-item-name {
            font-size: 133.333%;
            margin-bottom: 10px;
        }

        .product-reviews-summary {
            margin-bottom: 10px;
        }

        .product-item .price-box {
            margin-bottom: 25px;
        }

        .product-item .price-box .price {
            font-size: 170%;

        }

        .product-item .price-box .old-price .price {
            font-size: 125%;
            position: relative;
            top: 6px;
        }
    }

    .thumbs-product {
        text-align: center;
    }

    .thumbs-product .item-img {
        display: inline-block;
        vertical-align: top;
        margin: 0 2px;
        width: 80px;
        border: 1px solid #e5e5e5;
        cursor: pointer;
    }
}

.tab-full {
    background-color: #f2f2f2;
    padding: 60px 0 30px;
    margin-bottom: 60px;

    .tab-grid .sm-listing-tabs .ltabs-wrap .ltabs-tabs-container .ltabs-tabs li.tab-sel,
    .tab-grid .sm-listing-tabs .ltabs-wrap .ltabs-tabs-container .ltabs-tabs li:hover {
        background-color: #f2f2f2;
    }

    .title-style-2.tab-grid .block-title {
        border-color: #ddd;
    }

    .tab-grid .sm-listing-tabs .ltabs-wrap .ltabs-tabs-container .ltabs-tabs li.tab-sel,
    .tab-grid .sm-listing-tabs .ltabs-wrap .ltabs-tabs-container .ltabs-tabs li:hover {
        border-left-color: #ddd;
        border-right-color: #ddd;
    }
}

