@media (max-width: 991px) {
    .social-footer {
        float: none;
    }

    .footer-bottom .payment-footer {
        text-align: unset;
        padding-top: 10px;
    }
}

@media (max-width: 767px) {
    .footer-services {
        display: none;
    }

    .social-footer {
        text-align: unset;
    }
}