@media (max-width: 1199px) {
    .top-home-min {
        margin-left: 0;
        margin-right: 0;

        .slidershow {
            width: 67.5%;
        }

        .right-banner {
            width: 31.5%;
        }

        .right-banner img {
            width: 100%;
        }
    }
}

@media (max-width: 1023px) {
    .tabs-style-2 {
        .sm-listing-tabs .ltabs-tabs-container .ltabs-tabs-wrap .ltabs-tabs {
            right: -1px;
            left: auto;
        }

        .sm-listing-tabs .ltabs-tabs-container .ltabs-tabs-wrap .ltabs-tabs:before {
            right: 13px;
        }

        .sm-listing-tabs .ltabs-tabs-container .ltabs-tabs-wrap .ltabs-tabs:after {
            right: 15px;
        }
    }
}

@media (max-width: 560px) {
    .top-home-min {
        margin-left: 0;
        margin-right: 0;

        .right-banner,
        .slidershow {
            width: 100%;
            float: none;
        }

        .right-banner img {
            width: 100%;
        }
    }
}