/**
 * Awesome....
 */

@media (max-width: 1440px) {
    .desktop-menu .horizontal-block .sm_megamenu_menu > li > a{
	    font-size: 13px;
		padding: 11px 7px;
	}
}
@media (max-width: 1180px) {
	.header-middle{
	    padding: 0 15px;
		.l-content{
		    width: 135px;
		}
		.m-content{
			width: calc(~'100% - 380px'); 
		}
		.r-content{
		    width: 215px;
			.block-header,.header-container .minicart-header {
				margin-left: 15px;
			}
		}
	}
	.desktop-menu .horizontal-block .sm_megamenu_menu > li > a .icon_items{
	    top: -5px;
	}
}