@media (max-width: 991px) {
	.menu-footer{
	    text-align: center;
	}
	.ft-bottom-content address{
       text-align: center; 
   }
	.footer-top .logo-footer{
		margin-top:0px;
	}
	.social-block-list ul{
		justify-content: start;
		 li{
			margin-left: 40px;
			margin-right: 0;
		}
	}
}
@media (max-width: 576px) {
	
	.footer-top{
		.address-footer{
			margin: 15px 0;
		}
		.time-footer{
		    margin: 0 0 15px 0;
		}
	}	
	.social-block-list ul{
		margin: 0;
	}
   .block-subscribe-footer{
       padding: 10px;
	   .action-button button{
	       padding: 0 10px;
	   }
   }
   
}