@media (min-width: 1024px) {
    .tabs-product-2 {
        .sm-listing-tabs .ltabs-tabs-container .ltabs-tabs li {
            height: 35px;
            line-height: 35px;
            padding: 0 20px;
            background-color: #fff;
            border: 1px solid #ddd;
            margin-right: 7px;
            color: #111;
            font-weight: 700;
            font-size: 92.307%;
            text-transform: uppercase;
            .border-radius(3px);
            .transition(.1s);
        }

        .sm-listing-tabs .ltabs-tabs-container .ltabs-tabs li.tab-sel,
        .sm-listing-tabs .ltabs-tabs-container .ltabs-tabs li:hover {
            background-color: #111;
            border-color: #111;
            color: #fff;
        }

        .sm-listing-tabs .ltabs-wrap .ltabs-tabs-container {
            position: absolute;
            top: -61px;
            left: 345px;
            margin: 0;
        }
    }
}

@media (max-width: 1024px) {
    .deals-count {
        padding-top: 30px;
    }

    .deals-count .info-column {
        width: 100%;
        float: none;
        margin-top: 0;
    }

    .deals-count .block-content {
        width: 100%;
        float: none;
        padding: 0;
    }

    .cat-slider .block-categories .cat-wrap .item .cat-title {
        white-space: nowrap;
        font-size: 100%;
    }
}

@media (max-width: 1023px) {
    .tabs-product-2.nav-text .owl-theme .owl-nav {
        top: -124px;
    }

    .product-8-style .deals-count .products-grid .product-item-info .product-item-name a {
        overflow: hidden;
        display: block;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

@media (max-width: 1023px) {
    .full-banner-23 ul li {
        width: 100%;
        margin: 0;
    }
}