@media (min-width: 992px) {
	.footer-top .container .row{
		align-items: center !important;
	}
}
@media (max-width: 991px) {
	.footer-top .logo-ft {
		text-align: center;
		margin: 0 auto 30px;
		display: block;
	}
}
