@media (min-width: 1200px) and (max-width: 1600px){
	.home-top-v37 .vertical-menu, .home-top-v37 .column-banner{
		width: 290px;
	}
	.desktop-menu .sm_megamenu_wrapper_vertical_menu ul.sm_megamenu_menu > li > a.sm_megamenu_head{
		padding: 5px 0px;
		font-size: 14px;
	}
	.home-top-v37 .vertical-menu .vertical-menu-block .more-w .more-view, 
	.home-top-v37 .column-banner .vertical-menu-block .more-w .more-view{
		font-size: 14px;	
		padding:10px 0 15px;

	}
	.home-top-v37 .vertical-menu .vertical-menu-block .block-title-menu, 
	.home-top-v37 .column-banner .vertical-menu-block .block-title-menu{
		font-size: 1.6rem;
	}
}
@media (max-width: 1024px) and (min-width: 768px) {
	.home-top-v37 .column-banner{
		width: 275px;
	}
}
@media (max-width: 991px){
	.home-top-v37{
		padding-top: 0;
		.slidershow-type-37 {
			margin-bottom:10px;
		}
	}
}
@media (max-width: 1199px){ 
	.block-home-37.block-deal-full-37 .content-deal{
	    padding: 0;
	}
	.block-home-37.service-home .content{
		padding-top: 30px;
	}
	.block-home-37.block-deal-full-37 .flipdown .rotor-group{
		 margin: 0 8px;
		&:after{
			display:none;
		}
	}
}
@media (min-width: 992px) and (max-width: 1199px){ 
	.flipdown .rotor-group{
		    margin: 0 8px !important;
			&:before{
				display:none !important;
			}
		}
		.flipdown .rotor, .flipdown .rotor-leaf, 
		.flipdown .rotor-leaf-front, .flipdown .rotor-leaf-rear, 
		.flipdown .rotor-top, .flipdown .rotor-bottom, 
		.flipdown .rotor:after{
		    width: 40px;
		}
}
@media (max-width: 640px){
	
	.block-home-37 {
		padding:50px 0;
		.block-title strong{
			font-size: 3rem;
			line-height: 40px;
		}
		&.block-deal-full-37 {
			.flipdown .rotor-group-heading {
				font-size: 1.2rem;
			}
			.view-more{
			    margin: 25px auto 50px
			}
		}
		.flipdown .rotor-group{
		    margin: 0 5px !important;
			&:before{
				display:none !important;
			}
		}
		.flipdown .rotor, .flipdown .rotor-leaf, 
		.flipdown .rotor-leaf-front, .flipdown .rotor-leaf-rear, 
		.flipdown .rotor-top, .flipdown .rotor-bottom, 
		.flipdown .rotor:after{
		    width: 30px;
		}
		.service-home .content {
		    margin-top: 50px;
		}
	}
	.block-categories-v37 .item {
		padding:15px;
		span{
			font-size: 1.4rem;
		}
	}
}
