@media (min-width: 992px) and (max-width: 1199px) {
    .show-vertical-menu .vertical-menu-content {
        display: none;
    }

    .show-vertical-menu .vertical-menu-block:hover {
        .vertical-menu-content {
            display: block;
        }
    }

    .top-home {
        margin: 0;
    }

    .top-home .right-banner {
        width: 30%;

        img {
            width: 100%;
        }
    }

    .top-home .slidershow {
        width: calc(~'70% - 12px');
    }

    .home-services .service-info {
        max-width: 170px;
    }

    .middle-banner .banner-image {
        margin-bottom: 25px;
    }
}

@media (max-width: 1023px) {
    .sm-listing-tabs .ltabs-tabs-container .ltabs-tabs-wrap {
        height: 34px;
        padding: 0 30px 0 10px;
        line-height: 34px;
    }

    .tabs-product .sm-listing-tabs .ltabs-wrap .ltabs-tabs-container {
        top: -44px;
        right: 58px;
    }

    .sm-listing-tabs .ltabs-tabs-container .ltabs-tabs-wrap .ltabs-tabs {
        min-width: 215px;
    }

    .sm-listing-tabs .ltabs-tabs-container .ltabs-tabs-wrap .ltabs-tabs li.active span,
    .sm-listing-tabs .ltabs-tabs-container .ltabs-tabs-wrap .ltabs-tabs li span {
        padding: 0 10px !important;
    }

    body .tabs-product .sm-listing-tabs .ltabs-wrap .ltabs-tabs-container .ltabs-tabs li:hover,
    body .tabs-product .sm-listing-tabs .ltabs-wrap .ltabs-tabs-container .ltabs-tabs li.tab-sel {
        border-bottom: 1px solid #e5e5e5 !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .top-home {
        margin: 0;
    }

    .top-home .right-banner {
        width: 29.5%;

        img {
            width: 100%;
        }
    }

    .top-home .slidershow {
        width: calc(~'70% - 10px');
    }

    .home-services ul li a {
        padding: 0 10px;
    }

    .home-services .service-info {
        margin-left: 70px;
    }

    .middle-banner .banner-image {
        margin-bottom: 18px;
    }

    .hot-categories .item {
        width: 33.3333%;
    }
}

@media (max-width: 767px) {
    .top-home {
        margin: 0;
    }

    .top-home .right-banner {
        float: none;
        width: unset;
        display: flex;
        margin: 0 -10px 10px;

        .banner-image {
            padding: 0 10px;
            width: 33.333333%;
        }

        img {
            width: 100%;
        }
    }

    .top-home .slidershow {
        float: none;
        width: 100%;
    }

    .home-services ul {
        display: block;

        li {
            width: 100%;
            padding: 10px 0;

            a {
                border: none !important;
            }
        }

        li:not(:last-child) {
            border-bottom: 1px solid #e5e5e5;
        }
    }

    .home-services .service-info {
        max-width: 180px;
    }

    .middle-banner .banner-image {
        margin-bottom: 16px;
    }

    .hot-categories .item {
        width: 33.333%;
    }
}

@media (max-width: 560px) {
    .banner-block-1 {
        margin-bottom: 25px !important;
    }

    .banner-block-1 .banner-image img {
        width: 100%;
    }

    .banner-block-1 > div:first-child .banner-image {
        margin-bottom: 16px;
    }
}

@media (max-width: 480px) {
    .top-home .right-banner {
        display: block;
        margin-bottom: 20px;

        .banner-image {
            width: 100%;
            margin-bottom: 20px;
        }
    }

    .middle-banner .banner-image {
        margin-bottom: 30px;
    }

    .hot-categories .item {
        width: 50%;
    }
}