@media (min-width: 1024px) {
    .cats-grid-inner .block-categories .cat-wrap .item .image-cat img {
        min-height: 150px;
    }

    .art-top .loading-content {
        min-height: 300px;
    }
}

@media (max-width: 1024px) {
    .attr-container .smas-container {
        padding: 40px;
    }

    .chosen-container-single .chosen-single {
        padding-right: 15px !important;
    }
}

@media (max-width: 1023px) {
    .attr-container {
        margin-top: 40px;
    }

    .attr-container .smas-container {
        padding: 20px;
    }

    .cats-grid-inner .block-categories .cat-wrap .item {
        width: 33.3333%;
    }

    .bottom-grid-brand ul li {
        width: 25%;
    }
}

@media (max-width: 480px) {
    .attr-container {
        margin-top: 30px;
    }

    .attr-container .smas-container .smas-attr-inner .btn {
        width: 100%;
    }

    .smas-group-right {
        margin-top: 0;
    }

    .block-des-bottom .block-title strong {
        font-size: 200%;
    }

    .cats-grid-inner .block-categories .cat-wrap .item {
        width: 50%;
    }

    .block-categories .cat-wrap .item .cat-title {
        font-size: 100%;
    }

    .cats-grid-inner .cats-info a {
        padding: 10px;
    }

    .cat-no-image .block-categories .cat-wrap {
        padding: 20px 10px 20px;
    }

    .cat-no-image .block-categories .cat-wrap .item .sub-cats li {
        font-size: 100%;
    }

    .bottom-grid-brand ul li {
        width: 50%;
    }
}