<?xml version="1.0"?>
<!--
/**
 * Copyright © magebig.com - All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="MageBig_MbLib::magebig_config" title="MageBig" module="MageBig_MbLib" sortOrder="10" resource="MageBig_MbLib::magebig_config"/>
        <add id="MageBig_MbLib::ext_config" title="Extensions" module="MageBig_MbLib" sortOrder="20" parent="MageBig_MbLib::magebig_config" resource="MageBig_MbLib::ext_config"/>
        <add id="MageBig_MbLib::extension_store" title="Extension Store" translate="title"
             module="MageBig_MbLib"
             sortOrder="500" parent="MageBig_MbLib::ext_config" resource="MageBig_MbLib::config_extensions"
             action="adminhtml/system_config/edit/section/mb_extensions" />
    </menu>
</config>
