/**
 * Language - currency
 */

.header-container .language-currency {
    .clearfix();
	margin-left:30px;
    .switcher-label {
        display: none;
    }

    .switcher {
        float: left;
    }

    .switcher-content {
        position: relative;

        &:hover {
            .action-switcher:before {
                display: block;
            }

            .dropdown-switcher {
                display: block;
            }
        }
    }

    .action-switcher {
        padding: 0 11px;
        position: relative;

        &:before {
            content: "";
            display: none;
            height: 10px;
            position: absolute;
            left: 0;
            right: 0;
            bottom: -5px;
        }
    }

    .heading-switcher {
        display: block;
        height: 34px;
        line-height: 34px;
        color: #111;
        font-weight: 700;
        text-transform: uppercase;

        span:after {
            margin-left: 3px;
            vertical-align: top;
            position: relative;
            top: 1px;
            .icomoon(e92e, 12px);
        }

        &:hover {
            cursor: pointer;
        }
    }

    .dropdown-switcher {
        display: none;
        position: absolute;
        left: -1px;
        top: 100%;
        margin-top: 1px;
        background: #fff;
        padding: 10px 10px 0;
        white-space: nowrap;
        min-width: 170px;
        z-index: 310;
        .box-shadow(0 0 15px rgba(0, 0, 0, 0.1));
    }

    .list-item {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            padding: 0 10px;
            margin-bottom: 10px;
            border: 1px solid transparent;
            background-color: #f5f5f5;
        }

        li:hover {
            border-color: #222;
            background-color: #fff;
        }

        a {
            padding: 8px 0;
            display: block;
            color: #222;
            font-weight: 600;
        }
    }

    .switcher-language {
        .list-item li a span,
        .heading-switcher {
            background-size: 20px auto;
            background-position: left center;
            padding-left: 25px;
        }
    }
}

.promotion-header {
	background:#111111;
	text-align:center;
	font-size:1.2rem;
	text-transform:uppercase;
	color:#fff;
	height: 45px;
    line-height: 45px;
	a {
		text-decoration:underline;
		color:#fff;
	}
	
}


.header-top {
    .logo {
        float: none;
		margin: 0;
		max-width: 100%;
		text-align: center;
    }
}
.header-bottom {
    margin-bottom:10px;
}

.sm_megamenu_wrapper_horizontal_menu .horizontal-type {
	display: flex;
    justify-content: center;
		> li {
		    margin: 0 20px;

		> a {
			font-size: 1.4rem;
			text-transform: uppercase;
			display: block;
			height: 55px;
			line-height: 55px;
			font-weight:bold;
		}

		> a .icon_items {
			position: absolute;
			top: auto;
			right: 0;
			line-height: 1;
		}

		> div {
			border: none !important;
			.box-shadow(0 0 15px rgba(0, 0, 0, 0.15));
		}
	}
}



.hd-top-content {
    position: relative;
	padding:25px 0;
    .r-header {
        display: flex;
		justify-content: end;
		align-items: center;
    } 
}

.customer-header {
    display: flex;
	align-items: center;
    .block-wishlist,
    .header-block {
        margin: 0;
        padding: 0 15px;
		.wishlist-title {
			display:none;
		}
    }

    .header-block {
        position: relative;

        .header-dropdown {
            display: none;
            position: absolute;
            background: #fff;
            padding: 10px;
            z-index: 200;
            top: 100%;
            left: 0;
            min-width: 150px;
            .box-shadow(0 0 15px rgba(0, 0, 0, 0.1));
			&.header-dropdown-support {
				width: 370px;
				right: 0;
				left: auto;
				padding: 30px;
				p {
					margin:0px;
				}
				h3 {
					font-size:1.8rem;
					font-weight:bold;
					text-transform:uppercase;
					display:block;
					color:#111;
				}
				a {
					display: block;
					width: 100%;
					height: 50px;
					border: 1px solid #111111;
					font-size: 1.4rem;
					font-weight: bold;
					text-align: center;
					line-height: 50px;
					text-transform: uppercase;
					margin-top: 15px;
					&:hover {
						background:#111111;
						color:#fff;
					}
				}
				
			}
        }
    }

    .header-block:hover .header-dropdown {
        display: block;
    }

    .block-wishlist > a,
    .header-block > a {
        display: block;
        color: #888;
        text-align: center;
        text-transform: uppercase;
        margin: 0;
        position: relative;
        white-space: nowrap;
		padding-bottom: 6px;
        &:before {
            content: '';
            display: block;
            width: 30px;
            height: 30px;
            background-image: url(../images/icon-image.png);
            background-repeat: no-repeat;
            margin: 0 auto;
        }
    }



    
	.support-block {
		margin-left: 45px;
		padding-right: 0;
		> a:before{
		 background-position:-335px -722px;
		}
		
	}
    .account-block {
        .header.links {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        .header.links .customer-welcome .greet.welcome {
            margin-bottom: 5px;

            &:after {
                display: none;
            }
        }

        .header.links .customer-welcome .customer-menu {
            display: block;
            position: static;
            margin: 0;
            padding: 0;
            background: none;
            .box-shadow-none();
        }

        .customer-links > .header.links > li:last-child {
            margin-bottom: 0;
        }

        .customer-links > .header.links > li > a {
            display: block;
            text-align: center;
            padding: 10px;
            text-transform: uppercase;
			background:#f5f5f5;
        }
    }

    .account-block > a:before {
        background-position: -210px -722px;
    }

    

    .block-wishlist > a:before {
        background-position: -245px -722px;
    }

    .block-wishlist .count {
        background-color: #ff5e7d;
        color: #fff;
        display: inline-block;
        min-width: 18px;
        height: 18px;
        line-height: 18px;
        text-align: center;
        padding: 0 3px;
        position: absolute;
        top: 7px;
        right: -19px;
        margin-left: 13px;
        .border-radius(10px);
		font-size:11px;
		font-weight:bold;
    }

    .block-wishlist .counter + .count {
        display: none;
    }
}

.minicart-header {
    .minicart-wrapper {
        margin: 0 0 0 30px;
        padding: 0;
        float: none;
		padding-right: 20px;
        .mage-dropdown-dialog {
            display: none !important;
            right: 0;
            left: auto;
			.block-minicart{
				margin: 6px 0 0;
			}
        }

        &:hover .mage-dropdown-dialog {
            display: block !important;
        }

       
    }

    .minicart-wrapper .action.showcart {
        display: block;
        text-align: center;
        color: #888;
        text-transform: uppercase;
        position: relative;

        &:before {
            content: '';
            display: block;
            width: 30px;
            height: 30px;
            background: url(../images/icon-image.png) no-repeat -287px -722px;
            margin: 0 auto ;
        }

        .text {
            display: none;
        }

        .text-min-cart {
            display: none;
        }

        .counter.qty {
            background-color: #ff5e7d;
            color: #fff;
            display: inline-block;
            min-width: 18px;
            height: 18px;
            line-height: 18px;
            text-align: center;
            padding: 0 3px;
            position: absolute;
            top: 7px;
			right: -19px;
            .border-radius(10px);
			font-size: 11px;
			font-weight: bold;
			margin:0px;
            .price-minicart,
            .counter-label {
                display: none;
            }
        }
    }
}


/**
 * Search core
 */
 .header-container .smsearch-autocomplete {
    left: 0px;
    right:auto !important;
}
.header-container .block-search {
    width: 270px !important;
    margin-top: 10px;
    padding: 0 !important;
	float:left;
    .label,
    .nested {
        display: none !important;
    }

    .form.minisearch {
        display: table;
        width: 100%;
    }

    .field.search {
        display: table-cell;
        width: 100%;
        vertical-align: top;
        background: none;

        .control {
            margin: 0;
            padding: 0;
        }

        .input-text {
            background: none;
            position: static;
            border: 1px solid #ddd;
            margin-top: 0;
            margin-bottom: 0;
            padding-left: 15px;
            width: 100%;
            height: 40px;
            padding-right: 10px;
            color: #999999;
            .border-radius(0);
			&:focus{
				border-color:#111;
				color:#111;
			}
        }
    }

    .actions {
        display: table-cell;
        vertical-align: top;

        .action.search {
            position: absolute;
            background: none;
            padding: 0;
            color: #111111;
            text-transform: uppercase;
            width: 25px;
            height: 40px;
            line-height: 40px;
            opacity: 1 !important;
            font-weight: 600;
			.border-radius(0);
        }

        .action.search:before {
            .icomoon(e954, 18px);
            display: block;
			color: #111111;
        }

        .action.search span {
            display: none;
        }
    }
}

/**
 * Searchbox pro
 */

.header-container .block-search.search-pro {
    .control {
        display: flex;
    }

    .searchbox-cat {
        background-color: transparent;
        padding-left: 15px;
        height: 48px;
        border-right: 1px solid #3a3a3a;
        border-width: 0 1px 0 0;
        width: 150px;
        color: #888;
        position: relative;
        left: -1px;
        .border-radius(0);
    }
}

/**
 * Css menu
 */

.desktop-menu .navigation {
    background: none;
    font-weight: unset;

    .ui-icon {
        display: none !important;
    }

    > ul {
        padding-left: 0;
    }

    > ul > li {
        margin-right: 50px;
        margin-left: 0;
    }

    > ul > li.parent > a:after {
        display: none;
    }

    > ul > li > a {
        font-weight: 400;
        height: 60px !important;
        line-height: 60px !important;
        padding: 0 !important;
        border: none !important;
        text-transform: uppercase;
        font-size: 1.3rem;
        color: #111 !important;

        &:before {
            content: "";
            display: block;
            height: 2px;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            opacity: 0;
            .transition(.1s)
        }
    }

    .level0 .submenu {
        text-align: left;
        border: none !important;
        font-weight: 400;
        .box-shadow(0 0 10px rgba(0, 0, 0, 0.1));
    }

    .level0 .submenu a {
        padding: 10px 20px;
        border: none !important;
    }

    .level0 .submenu .parent > a:after {
        float: right;
        .icomoon(e930, 14px);
    }

    .level0 .submenu li:hover,
    .level0 .submenu li:hover > a {
        background-color: @submenu-desktop-item__hover__background;
    }
}
