@media (min-width: 1200px) {
    .deal-b .ver-title {
        font-size: 230%;
        text-transform: uppercase;

        span {
            display: block;
            width: 35px;
            font-weight: 700;
            margin: 35px 23px 0 0;
            line-height: 50px;
            text-align: center;
        }
    }
}

@media (max-width: 1199px) {
    .attr-container.attr-b .smas-container {
        padding: 60px 40px 70px;
    }

    .attr-container .smas-container select {
        height: 50px;
        opacity: 1;
        .border-radius(0);
    }

    .full-product-b {
        padding: 0 15px;
    }

    .deal-b {
        padding: 20px;
    }

    .deal-b .block {
        padding: 20px 0;
    }

    .deal-b .ver-title {
        position: static;
        width: unset;
        padding: 10px 20px;
        font-size: 116.67%;
        font-weight: 700;
    }

    .deal-b .thumb-product {
        width: unset;
        float: none;
        .clearfix();

        .box-image-thumb {
            float: right;
            width: 120px;
            margin-left: 10px;
            margin-bottom: 10px;
        }
    }

    .deal-b .block-content {
        margin: 0;
        padding: 0;
    }

    .deal-b .product-item-info .deals-countdown .deals-time {
        min-width: 55px;

        .num-time {
            padding: 10px 0 2px;
            font-size: 107.69%;
        }

        .title-time {
            margin-bottom: 7px;
            font-size: 90%;
        }
    }

    .b-client-full .b-client-slider .owl-theme .owl-nav [class*='owl-'].owl-next {
        left: 0;
    }

    .b-client-full .b-client-slider .owl-theme .owl-nav [class*='owl-'].owl-prev {
        right: 0;
    }

    .blog-b .post-title a {
        font-size: 116.67%;
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .svs-bike ul li {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .block-des-bottom .block-title strong {
        font-size: 200%;
    }

    .grid-cats a span {
        font-size: 107.69%;
    }

    .b-client-full .text {
        font-size: 116.67%;
        font-weight: 400;
    }

    .attr-container.attr-b .smas-container {
        padding: 30px 20px 30px;
    }

    .attr-container.attr-b .smas-container .att-title {
        font-size: 200%;
    }

    .grid-cats .r-cat,
    .grid-cats .c-cat,
    .grid-cats .l-cat {
        margin-right: 0;
        margin-left: 0;
    }


}

@media (max-width: 640px) {
    .deal-b .thumb-product .box-image-thumb {
        width: 85px;
    }

    .deal-b .product-item-info .box-image-deal {
        width: 100%;
    }

    .deal-b .product-item-info .product-item-details {
        width: 100%;
        padding-right: 0;
        padding-left: 0;
    }

    .b-client-full .text br {
        display: none;
    }

    .svs-bike ul li {
        width: 100%;
    }
}