@media (max-width: 991px) {
    .service-ontop .sv-icon {
        margin-top: 0;
    }

    .banner-kids {
        .banner-image {
            margin-bottom: 19px;
        }
    }
}

@media (max-width: 560px) {
    .dot-brands ul li {
        width: 33.33333%;
    }

    .block-dot-title .block .block-title strong {
        font-size: 230%;
    }
}