.block-home-37{ 
	padding: 110px 0;
	.block-title {
            color:#000000;
			text-align:center;
			margin-bottom:50px;
            strong {
				font-size: 4.8rem;
				line-height: 48px;
				color: #000;
				font-weight: bold;
				display:block;
            }
			span {
				display:block;
				font-size: 30px;
				font-weight: 700;
				margin-bottom: 4px; 
			}
        }
	.owl-theme .owl-nav [class*='owl-'] {
        position: absolute;
		top: 50%;
		display: inline-block;
		height: 50px;
		width: 50px;
		background-color: #fff;
		color: #000;
		.border-radius(50%);
		border: 2px solid #eee;
		line-height: 46px;
		text-align: center;
		z-index: 5;
		cursor: pointer;
		padding: 0;
		margin: -25px 0 0;
		.box-shadow(0 0 0);
        &:before {
            font-size: 22px;
        }

        &.owl-next {
            right: -80px;
        }

        &.owl-prev {
            left: -80px;
        }

        &:hover {
            opacity: 1;
        }
    }
    &.block-deal-full-37 {
		background:url('../images/bg-1.jpg') no-repeat 0 0;
		.content-deal {
			text-align:center; 
			padding-right:80px;
		}
		.view-more { 
		    height: 50px;
			line-height: 50px;
			font-size: 14px;
			font-weight: 700;
			text-transform: uppercase;
			padding: 0 30px;
			background-color: #fb7645;
			border-radius: 10px;
			display: table;
			color: #fff;
			margin: 54px auto ;
			&:after {
                .icomoon(f0da, 17px); 
				margin-left: 4px;
				line-height: 0;
				position: relative;
				top: 2px;
            }
		}
		h3.title-deals {
			font-size: 18px; 
			font-weight: 400;
			color: #000;
			margin-bottom: 14px;
		}
		.flipdown {
			align-items: center;
			justify-content: center;
			.rotor-group-heading{
				font-size: 1.6rem;
				color: #000000;
			}
			.rotor-group {
				margin:0 15px;
				&:after{
					display: inline-block;
					content: ":";
					color: #000000;
					margin: 0;
					font-size: 35px;
					position: absolute;
					top: 2px;
					left: 100%;
					padding-left: 11px;
					
				}
				&:last-child:after{
					display:none;
				}
			}
		}

	}
	&.service-home {
		.banner-service {
			img{
				.transition(.3s);
			}
			&:hover img {
			    .transform(scale(1.1) rotate(4deg));
			}
		}
		.block-title  {
			text-align:left;
			p {
				color: #888888;
				font-size: 1.8rem;
				font-weight: 400;
				line-height: 28px;
				margin: 30px 0 50px;
			}
		}
		.content{
			padding-left:40px;
		}
		ul {
			.ul-nostyle();
			li.item {
				display:flex;
				margin-bottom:40px;
				.image{
					margin-right: 15px;
					.transition(.3s);
				}
				h3 {
				    color: #000000;
					font-size: 2.4rem;
					font-weight: 700;
				}
				p {
				    color: #888888;
					font-size: 1.6rem;
					font-weight: 400;
					line-height: 22px;
				}
				&:hover .image{
				    .transform(translateY(-10px));
				}
			}
		}
	}
}

.home-top-v37{  
	display: flex;
	margin-left: -15px;
    margin-right: -15px;
    padding-top: 30px;
	.vertical-menu,.column-banner{
		width:330px;
		padding-left: 15px;
		padding-right: 15px;
		margin-bottom: 15px;
		.vertical-menu-block {
			.border-radius(20px 20px  0 0);
			position: relative;
			background: #fff;
			padding-top: 15px;
			.block-title-menu {
				font-weight: 400;
				line-height: 50px;
				font-size: 1.8rem;
				.border-radius(10px);
				color: #fff;
				position: relative;
				text-transform: uppercase;
				padding: 0;
				text-align: center; 
				margin:0 15px;
			}
			.vertical-menu-content{
				display: block !important;
				width: 100%;
				min-width: auto;
				border: 0;
				.border-radius(0 0 20px 20px);
				z-index: 2;
				&:before{
					display:none;
				}
				 
			}
			.more-w .more-view{
				border-top: 0;
				padding: 10px 0 16px;
				color: #000;
				margin: 0 15px;
				font-size: 16px;
			}
		}
		.banner-image{
			margin-bottom: 0;
		}
	}
	.column-slider {
		flex:1 1 0;
		padding-left: 15px;
		padding-right: 15px;
		width: calc(~'100% - 660px');
	}
}
.slidershow-type-37 {
	.border-radius(20px);
    overflow: hidden;
	.owl-theme .owl-nav {
        margin: 0;
    }

    .owl-theme .owl-nav [class*='owl-'] {
        background-color: #fff;
        margin: -20px 0 0;
        padding: 0;
        width: 40px;
        height: 40px;
        line-height: 40px;
        opacity: 1;
        position: absolute;
        top: 50%;
        z-index: 25;
        .border-radius(50%);
        .transition(.1s);
		color:#222;
        &:before {
            font-size: 20px;
        }

        &.owl-next {
            right: 15px;
        }

        &.owl-prev {
            left: 15px;
        }

        &:hover {
            opacity: 1;
        }
    }

    .owl-theme .owl-dots {
        position: absolute;
        bottom: 20px;
        left: 0;
        right: 0;
        .owl-dot{
            height: 40px!important;
			width: 40px!important;
			background-color: rgba(255,255,255,.7)!important;
			text-align: center!important;
			.border-radius(50%);
			margin:0 5px;
			&:before{
				font-size: 16px;
				font-weight: 700;
				color: #000;
				display:block;
			}
           span {
			display:none;
		   }
		   &:hover, &.active{
			background-color: #fff !important;
		   }
			&:first-child:before {
				content: '1';
			}
			&:nth-child(2):before {
				content: '2';	
			}
			&:nth-child(3):before {
				content: '3';	
			}
        }
    }
}
.block-categories-v37 {
	.item {
		padding: 15px 20px;
		transform: translateY(0);
		.border-radius(110px 110px 20px 20px);
		text-align: center;
		.image {
			.border-radius(50%);
			overflow:hidden;
			margin: 0;
			img {
				.transition(all 0.3s);
			}
		}
		span {
			display:block;
			font-size:1.8rem;
			color:#000000;
			font-weight:bold; 
			margin: 20px 0 5px 0;
			.transition(all 0.3s);
		}
		&:hover .image img{
		    .transform(scale(1.2));
		}
	}
}
.cms-home-demo-37 .banner-image{
	.border-radius(20px); 
}
.client-farmer.block-home-37{
	background:url('../images/bg-2.jpg') no-repeat 0 0;
	.item {
		padding: 18px;
		background-color: #fff;
		.border-radius(20px);
		.box-shadow(0 0 60px rgba(0,0,0,.05));
		border: 2px solid #fff;
		.info-f {
			text-align:center;
			.name-f {
				font-size: 2.4rem;
				font-weight: 700;
				color: #000;
				text-transform: capitalize;
				margin-bottom: 5px;
				margin-top: 15px;
			}
			.des-f {
				font-size: 1.6rem;
				color: #888;
				margin-bottom: 15px;
			}
			ul.social-f {
				.ul-nostyle();
				li {
					display:inline-block;
					a{
						display: inline-block;
						height: 38px;
						width: 38px;
						font-size: 1.8rem;
						color: #000;
						margin-right: 10px;
						border-radius: 50%;
						text-align: center;
						line-height: 38px;
						.transition(all 0.3s);
						background-color: #f4f4f4;
						&:hover {
							background:#ff7345 !important;
							color:#fff;
						}
					}
				}
			}
		}
	}
}

