@media (max-width: 1366px) {
    .med-client .owl-theme .owl-nav [class*='owl-'].owl-next,
    .med-product .owl-theme .owl-nav [class*='owl-'].owl-next,
    .step-hand .owl-theme .owl-nav [class*='owl-'].owl-next,
    .med-brand .owl-theme .owl-nav [class*='owl-'].owl-next {
        left: 0;
    }

    .med-client .owl-theme .owl-nav [class*='owl-'].owl-prev,
    .med-product .owl-theme .owl-nav [class*='owl-'].owl-prev,
    .step-hand .owl-theme .owl-nav [class*='owl-'].owl-prev,
    .med-brand .owl-theme .owl-nav [class*='owl-'].owl-prev {
        right: 0;
    }
}

@media (max-width: 768px) {
    .med-support .med-title,
    .med-block.block-top-des .block-title strong,
    .med-l-product .block-title strong {
        font-size: 180%;
    }

    .med-l-product .med-product {
        float: none;
        width: 100%;
        padding: 0;
    }

    .med-l-product .l-banner {
        float: none;
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 560px) {
    .list-crub .item {
        width: 100%;
    }
}