@media (max-width: 1440px) {
    .header-bottom .logo-container {
        width: 230px;
    }

    .header-bottom .customer-actions .search-container .block-search .input-text {
        width: 230px;
    }

    .sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu > li {
        margin-left: 25px;
    }
}