@media (max-width: 1199px){
	.home-countdown {
		.countdown-static{
			justify-content: center;
			margin: 0 0 10px;
			width: 100%;
		}
		p{
			margin: 0 0 10px;
		}
	}
}
@media (min-width: 1200px) and (max-width: 1400px){
	.block-home-35.block-category-center .list-categories{
		padding: 45px 0;
	}
}
@media (max-width: 991px){

	.block-home-35.block-category-center {
		.info h3{
			font-size: 2.4rem;
			padding: 0 0 20px;
		}
		.list-categories{
			padding: 20px 0;
			ul li a.view-all {
				padding: 20px 0 0;
			}
		}
	}
}


@media (max-width: 575px){

	.block-home-35.block-category-center .list-categories {
	    margin: 50px 0;
		h3{
			padding: 0 0 20px;
		}
	}
	.block-aboutus-35 .content{
		padding-left: 0;
		margin-bottom: 30px;
	}
	.clients-say-v35 .block-clients .block-content,
	.block-customer.block-home-35 .block-content{
		width: 100%;
	}
	.clients-say-v35 .block-clients{
		&:before,&:after{
			display:none !important;
		}
	}
}
