<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="gridactions" frontName="gridactions">
            <module name="Xtento_GridActions" before="Magento_Backend"/>
        </route>
    </router>
</config>
<!--
/**
 * Product:       Xtento_GridActions
 * ID:            cxBzYyRMG9nxeghcP4p60/nEyx3JDNzeMJ8aE6wpMuk=
 * Last Modified: 2016-02-25T18:57:42+00:00
 * File:          app/code/Xtento/GridActions/etc/adminhtml/routes.xml
 * Copyright:     Copyright (c) XTENTO GmbH & Co. KG <info@xtento.com> / All rights reserved.
 */
-->