@media (max-width: 767px) {
    .block-title-shadow .title-shadow:before {
        display: none;
    }

    .services-bg > ul > li a {
        font-size: 100%;
    }

    .full-big-cats .block-categories .cat-wrap .item {
        width: 50%;
    }
}

@media (max-width: 560px) {
    .f-brand-grid ul li {
        width: 33.33333%;
    }
}

@media (max-width: 480px) {
    .services-bg > ul > li a {
        font-size: 90%;
    }

    .full-big-cats .block-categories .cat-wrap .item {
        width: 100%;
    }

    .f-brand-grid ul li {
        width: 50%;
    }
}