@media (max-width: 1400px) {
	.page-footer .footer-top .top-content{
		margin: 0;
	}
   .footer-block {
		border: 0px !important;
	}
	
}
@media (min-width:992px)  and (max-width: 1199px) { 
	.newsletter-footer .block-subscribe-footer .newsletter-content{
		width:100%;
	}
}
@media (max-width: 991px) {
	.page-footer .footer-top .top-content{
		margin: 0 0 40px;
	}
     .footer-block {
		margin: 0;
		border: 0px !important; 
		padding: 40px 0 0;
	}
}

