@media (min-width: 1024px) {
    .layout-boxed .page-footer {
        .box-shadow-none();

        .footer-bottom {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}

@media (max-width: 991px) {
    .social-footer {
        float: none;
    }

    .footer-bottom .payment-footer {
        text-align: unset;
        padding-top: 10px;
    }
}

@media (max-width: 560px) {
    .social-footer,
    .newsletter-footer {
        display: block;
    }
}