/**
 * Awesome....
 */
@media (min-width: 1200px) { 
	.header-content > .row > .col-md-10{
		padding-left:0px;
	}
}
@media (max-width: 1440px) {
    .desktop-menu .horizontal-block .sm_megamenu_menu > li > a{
	    font-size: 13px;
		padding: 14px 10px 12px 0;
	}
}
