@media (max-width: 768px) {
    .footer-bottom address {
        text-align: unset;
        padding-bottom: 0;
    }

    .middle-bottom {
        padding-top: 30px;
    }
}

@media (max-width: 767px) {
    .subscribe-footer {
        display: block;
    }

    .subscribe-footer .subs-title {
        padding: 0;
        margin-bottom: 20px;
    }
}