@media (min-width: 992px) and (max-width: 1199px) {

}

@media (max-width: 1024px) {
    .home-services.service-grid > ul > li {
        width: 50%;
    }

    .list-product-buttons .product-item-actions .actions-primary {
        margin-bottom: 5px;
    }

    .brand-grid .owl-theme .owl-nav [class*='owl-'].owl-next {
        right: 0;
    }

    .brand-grid .owl-theme .owl-nav [class*='owl-'].owl-prev {
        left: 0;
    }
}

@media (max-width: 1023px) {
    .tabs-style-2.tab-hot .owl-theme .owl-nav {
        top: -65px;
    }

    .tabs-style-2.tab-hot .sm-listing-tabs .ltabs-wrap .ltabs-tabs-container {
        display: table;
        border: none;
    }

    .tab-grid .sm-listing-tabs .ltabs-wrap .ltabs-tabs-container {
        top: -64px;
        right: 51px;
    }

    .tabs-style-2.tab-hot .image-product {
        text-align: center;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .list-product-buttons .product-item {
        width: 50%;
    }
}

@media (max-width: 767px) {
    .home-services.service-grid > ul {
        display: flex;

        li {
            border: none;
        }
    }

    .list-product-buttons .product-item {
        width: 100%;
    }

    .list-product-buttons .product-item-actions .actions-primary {
        margin-bottom: 0;
    }
}

@media (max-width: 480px) {
    .banner-top-full .banner-item {
        width: 100%;
        padding: 0 15px;
    }

    .home-page-9 .slidershow {
        margin-bottom: 30px;
    }

    .home-services.service-grid > ul > li {
        width: 100%;
    }

    .tabs-style-2.tab-hot .right-container .item {
        width: 100%;
    }

    .list-product-buttons .product-item-actions .actions-primary {
        margin-bottom: 5px;
    }
}