@media (max-width: 1440px) {
    .header-middle .l-content {
        width: 230px;
    }

    .header-middle .r-content {
        width: calc(~'100% - 230px');
    }

    .desktop-menu .horizontal-block .sm_megamenu_menu > li:not(:last-child) > a {
        margin-right: 25px;
    }

    .header-container .block-search .block-content {
        width: 220px;
    }

    .header-container .minicart-wrapper {
        padding-left: 10px;
    }
}