@media (min-width: 1400px) {
	.header-container > .container{
		.header-container > .container
	}
}
@media (min-width: 1200px) and (max-width: 1399px) {
   .sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu > li{
		margin: 0 15px;
		a{
			font-size:100%;
		}
   }
}
@media (min-width: 1025px) and (max-width: 1199px) {
   .sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu > li{
		margin: 0 7px;
		a{
			font-size:100%;
		}
   }
}