@media (max-width: 1199px) {
    .footer-middle .logo-footer {
        float: none;
    }

    .footer-middle .links-footer {
        float: none;
        padding-top: 30px;
    }

    .footer-middle .links-footer ul li {
        padding-right: 0;
        padding-left: 30px;
    }

    .footer-bottom .news-socials {
        float: unset;
        clear: both;
        padding-top: 30px;
    }

    .footer-middle {
        padding: 40px 0 30px;
    }
}

@media (max-width: 767px) {
    .footer-bottom .block-subscribe-footer {
        margin-bottom: 15px;
    }

    .footer-bottom .social-block-list ul li {
        margin-right: 0;
        margin-left: 10px;
    }

    .sv-footer-item {
        padding: 10px 0;
    }
}