@media (max-width: 1199px) {
    .full-deals-product {
        margin-left: -15px;
        margin-right: -15px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .full-deals-product .thumb-product {
        float: none;
        width: unset;
    }

    .full-deals-product .thumb-product .box-image-thumb {
        display: inline-block;
        vertical-align: top;
        margin-right: 10px;
        width: 100px;
    }

    .full-deals-product .block-content-products {
        margin-left: 0;
        margin-right: 0;
    }

    .full-services:before {
        top: 30px;
        bottom: 30px;
    }

    .full-services .list-services {
        padding-top: 80px;
    }
}

@media (max-width: 1023px) {
    .full-deals-product .block-content-products .box-image-deal {
        width: 300px;
    }

    .full-deals-product .block-content-products .product-item-details {
        margin-left: 330px;
        padding-right: 0;
        padding-left: 0;
        padding-top: 20px;
    }

    .full-deals-product .block-content-products .product-item-details .product-item-description {
        display: none;
    }

    .full-deals-product .block-content-products .product-item-details .product-item-name {
        font-size: 116.67%;
    }

    .full-deals-product .block-content-products .product-item-details .product-reviews-summary {
        margin: 0;
    }

    .full-deals-product .block-content-products .product-item-details .price-box {
        margin: 3px 0 15px;
    }

    .full-deals-product .block-content-products .product-item-details .deals-countdown {
        position: static;
        width: unset;
        display: table;
        padding: 0 10px;
    }

    .full-deals-product .block-content-products .product-item-details .deals-countdown .deals-time {
        float: none;
        display: inline-block;
        padding: 10px;
        width: unset;
        border: none;
    }

    .full-deals-product .block-content-products .product-item-details .deals-countdown .deals-time .num-time {
        font-size: 116.67%;
    }

    .full-deals-product .block-content-products .product-item-details .bottom-action {
        display: table;
        margin-bottom: 20px;
    }

    .full-services:before {
        display: none;
    }

    .full-services .list-services {
        padding-top: 30px;
        padding-left: 0;
        padding-right: 0;
    }

    .full-services .list-services ul li:not(:last-child) {
        margin-bottom: 30px;
    }
}

@media (max-width: 767px) {
    .block-cat-22 .block-categories .cat-wrap .item {
        width: 33.33333333%;
    }

    .list-brand-items ul li {
        width: 33.33333333%;
    }
}

@media (max-width: 560px) {
    .block-cat-22 .block-categories .cat-wrap .item {
        width: 50%;
    }

    .full-deals-product .block-content-products .product-item-info {
        display: block;
    }

    .full-deals-product .block-content-products .box-image-deal {
        width: 100%;
        float: none;
    }

    .full-deals-product .block-content-products .product-item-details {
        margin-left: 0;
        margin-right: 0;
    }

    .blog-22 .image-post {
        float: none;
        width: unset;
    }

    .blog-22 .info-post {
        float: none;
        margin-left: 0;
        margin-right: 0;
        padding-top: 10px;
    }
}