<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <customordernumber>
            <order>
                <enabled>0</enabled>
                <id_format>ORD%counter%</id_format>
                <count_from>1</count_from>
                <increment_by>1</increment_by>
                <padding>6</padding>
                <reset_counter>0</reset_counter>
            </order>
            <invoice>
                <enabled>0</enabled>
                <same>1</same>
                <id_format>INV%counter%</id_format>
                <count_from>1</count_from>
                <increment_by>1</increment_by>
                <padding>6</padding>
                <reset_counter>0</reset_counter>
            </invoice>
            <shipment>
                <enabled>0</enabled>
                <same>1</same>
                <id_format>SHI%counter%</id_format>
                <count_from>1</count_from>
                <increment_by>1</increment_by>
                <padding>6</padding>
                <reset_counter>0</reset_counter>
            </shipment>
            <creditmemo>
                <enabled>0</enabled>
                <same>1</same>
                <id_format>CRE%counter%</id_format>
                <count_from>1</count_from>
                <increment_by>1</increment_by>
                <padding>6</padding>
                <reset_counter>0</reset_counter>
            </creditmemo>
        </customordernumber>
    </default>
</config>
<!--
/**
 * Product:       Xtento_CustomOrderNumber
 * ID:            4GB1a7y5z4mmfO6TfCiFtUXfMdyFV1IWYsYZLEd/wFY=
 * Last Modified: 2016-02-25T18:59:25+00:00
 * File:          app/code/Xtento/CustomOrderNumber/etc/config.xml
 * Copyright:     Copyright (c) XTENTO GmbH & Co. KG <info@xtento.com> / All rights reserved.
 */
-->