<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Quote\Model\ResourceModel\Quote">
        <plugin name="Xtento_CustomOrderNumber::manipulateReservedOrderId" type="Xtento\CustomOrderNumber\Plugin\Model\Quote\ResourceModel\QuotePlugin"/>
    </type>
    <type name="Xtento\CustomOrderNumber\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Xtento\CustomOrderNumber\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">xtentoLogger</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Xtento\CustomOrderNumber\Logger\Handler</item>
            </argument>
        </arguments>
    </type>
    <type name="Xtento\CustomOrderNumber\Helper\Generator">
        <arguments>
            <argument name="lockManager" xsi:type="object">Magento\Framework\Lock\Backend\Database</argument>
        </arguments>
    </type>
</config>
<!--
/**
 * Product:       Xtento_CustomOrderNumber
 * ID:            4GB1a7y5z4mmfO6TfCiFtUXfMdyFV1IWYsYZLEd/wFY=
 * Last Modified: 2020-07-20T14:26:51+00:00
 * File:          app/code/Xtento/CustomOrderNumber/etc/di.xml
 * Copyright:     Copyright (c) XTENTO GmbH & Co. KG <info@xtento.com> / All rights reserved.
 */
-->