@media (min-width: 768px) and (max-width: 991px) {
    .footer-block.footer-contact {
        padding: 40px 0 30px;
        border-bottom: 1px solid #e5e5e5;
        background: none;
    }
}

@media (max-width: 991px) {
    .social-footer {
        background: none;
        padding-left: 0;
        padding-right: 0;
    }

    .payment-footer {
        text-align: unset;
        padding-top: 10px;
    }

    .newsletter-footer .newsletter-title {
        display: none;
    }
}

@media (max-width: 767px) {
    .footer-block.footer-contact {
        padding: 40px 0 0;
        background: none;
    }

    .footer-block {
        padding-top: 0;
    }

    .footer-block.footer-contact {
        margin-bottom: 40px;
    }

    .footer-bottom address {
        margin: 0;
    }
}


@media (max-width: 580px) {
    .newsletter-footer {
        padding-top: 0;
        padding-bottom: 25px;
    }
}