@media (max-width: 1200px) {
    .cats-list .cat-info {
        padding-top: 15px;
    }

    .cats-list .cat-info h2 {
        font-size: 130%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .remove-title-cart .products-grid .product-item-actions .actions-primary button:before {
        display: block !important;
    }

    .cats-list .cat-image {
        width: 70px;
    }

    .cats-list .cat-info {
        margin-left: 80px;
    }

    .cats-list .cat-info p {
        display: none;
    }
}