@media (min-width: 1200px){
	.block-wrapper-video-banner .banner-images img{
		margin-top: -170px;
	}
	.block-home-39.block-slider-filterProducts .owl-theme {
		.owl-nav [class*="owl-"]{
			&:before{
				width:70px;
				height:70px;
				text-align:center;
				background:#f5f5f5;
				line-height: 70px;
			}	
			&.owl-prev{
				left: -145px;
				padding-right: 145px;
				
			}
			&.owl-next{
				right: -145px;
				padding-left: 145px;
			}
			&:hover {
				&:before{
					color:#fff;
					background:#111111;
				}
			}
		}
		
	}
}

@media (max-width: 1199px){
	
	.block-home-39.block-slider-filterProducts{
	    width: 70%;
	}
	.block-home-39.block-testimonial{
		width: 100%;
	}
	.newsletter-home.block-home-39 {
		padding-right: 15px;
		.newsletter-content{
			width: inherit;
			flex: 1 1 0;
			margin-left: 15px;
		}
	}
	
	
}

@media (min-width: 577px) and (max-width: 1199px){
	.block-brand-39.block-home-39{
	    padding-bottom: 0 !important;
	}
}
@media (min-width: 768px) and  (max-width: 820px){
	.filterProducts-scroll .block.block-filterproducts .title-deals .deals-countdown{
		padding: 23px 0 15px; 
	}
	.filterProducts-scroll .block.block-filterproducts .title-deals .deals-countdown .deals-time .num-time,
	.filterProducts-scroll .block.block-filterproducts .title-deals .block-title{
		font-size: 3rem;
	}
	.block-home-39.block-slider-filterProducts .owl-stage-outer{
		padding-top: 15px;
		padding-bottom: 15px;
	}
}

@media (max-width: 576px){
	.block-home-39 .block-title strong,
	.filterProducts-scroll .block.block-filterproducts .title-deals .deals-countdown .deals-time .num-time{
		font-size: 3rem;
	}
	.filterProducts-scroll .block.block-filterproducts{
	    padding: 10px 0 20px 10px;
		margin-top: 0;
		.title-deals {
			.block-title{
				font-size: 3rem;
				width: 100%;
			}
			.deals-countdown{
				width: 100%;
			}
		}
	}
	.newsletter-home.block-home-39 .newsletter-title{
		border-left: 0;
		padding-top: 0;
	}	
	.block-home-39.blog-slider-type-6 .item .date-post{
		top: 0;
		right: 0;
	}
}

@media (max-width: 1080px){
	.block-home-39.block-banner-video:before,.block-wrapper-video-banner:after{
		display:none;
	}
	.newsletter-home.block-home-39{
	    padding-top: 100px !important;
		padding-bottom: 100px !important;
	}
	.block-wrapper-video-banner{
		margin-top: 100px !important;
		padding-bottom: 100px !important;
	}
}
@media (max-width: 767px){
	.block-home-39.block-slider-filterProducts{
	    margin-top: 30px;
	}
	.block-home-39.block-banner-video{
	    padding: 0 0 100px 0;
	}
	.svs-bike-39 {
		.item{
			margin-bottom: 25px;
		}
	}
	.block-home-39.block-banner-video:before,.block-wrapper-video-banner:after{
		display:none;
	}
	.block-home-39.block-slider-filterProducts{
		width:100%;
		.owl-nav {
			display:none !important;
		}
	}
}