@media (max-width: 1199px) {
    .content-home .grid-top-banner {
        img {
            width: 100%;
        }

        .left-banner {
            float: left;
            width: 55.1%;
        }

        .right-banner {
            float: right;
            width: 43.8%;
        }
    }
}

@media (max-width: 1024px) {
    .collection-sidebar ul {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -10px;

        li {
            padding: 0 10px;
            width: 50%;
        }
    }
}

@media (max-width: 767px) {
    .deal-slider {
        padding: 20px;
    }

    .deal-slider .product-item-info .product-item-details,
    .deal-slider .product-item-info .image-product {
        float: none;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    .deal-slider .product-item-info .image-product {
        text-align: center;
    }
}

@media (max-width: 560px) {
    .content-home .grid-top-banner {
        img {
            width: 100%;
        }

        .right-banner,
        .left-banner {
            float: none;
            width: unset;
        }

        .left-banner .banner-image {
            margin-bottom: 10px;
        }
    }
}