@media (max-width: 1199px){
	.home-page-36 .home-top {
		.vertical-menu {
			display: none !important;
		}
		.column-slider{
			width: calc(~'100% - 255px');
		}
		.column-banner{
			width: 250px;
			.banner-image a img{
				width: 100%;
			}
		}
	}
}
@media (max-width: 1199px){
	.home-page-36 .home-top {
		padding-top: 0;
	}
}
