.slidershow-type-7 {
    .owl-theme .owl-nav {
        margin: 0;
    }

    .owl-theme .owl-nav [class*='owl-'] {
        margin: -40px 0 0;
        padding: 0;
        width: 80px;
        height: 80px;
        line-height: 80px;
        background-color: #fff;
        color: #222;
        position: absolute;
        top: 50%;
        .border-radius(50%);
        .transition(.1s);

        &:before {
            font-size: 30px;
        }

        &.owl-next {
            right: 30px;
        }

        &.owl-prev {
            left: 30px;
        }
    }
}

.big-brand {
    ul {
        margin: 0 -15px;
        padding: 0;
        list-style: none;
        .clearfix();

        li {
            float: right;
            padding: 15px;
            width: 14.2858%;
        }

        img {
            opacity: .3;
        }

        li a:hover img {
            opacity: 1;
        }
    }
}

.block-top-des {
    .block-title {
        text-transform: uppercase;
        text-align: center;

        p {
            margin: 0;
            letter-spacing: 1.5px;
            font-size: 107.69%;
        }

        strong {
            font-size: 260%;
            color: #222;
        }
    }

    .owl-theme .owl-nav.disabled + .owl-dots {
        margin: 0;
    }

    .owl-theme .owl-dots .owl-dot span {
        width: 30px;
        height: 5px;
    }
}

.gallery-img {
    > ul {
        margin: 0 -5px;
        padding: 0;
        list-style: none;
        .clearfix();
    }

    > ul li {
        float: right;
        width: 20%;
        padding: 0 5px;
        margin-bottom: 0;
    }

    li a {
        position: relative;
        display: block;
    }

    li a:before {
        display: block;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        position: absolute;
        left: 10px;
        top: 10px;
        color: #fff;
        opacity: 0;
        .transition(.1s);
        .icomoon(ea92, 26px);
    }

    li a:hover:before {
        opacity: 1;
    }
}

.block-top-des {
    .block {
        margin-bottom: 0;
    }

    .owl-theme .owl-nav [class*='owl-'] {
        width: 60px;
        height: 60px;
        line-height: 58px;
        margin: -30px 0 0;
        padding: 0;
        background-color: #fff;
        border: 1px solid #222;
        color: #222;
        position: absolute;
        top: 50%;
        .border-radius(50%);
        .transition(.1s);

        &:before {
            font-size: 24px;
        }

        &.owl-next {
            right: 0;
        }

        &.owl-prev {
            left: 0;
        }
    }

    .name-bottom {
        max-width: 1140px;
        margin-right: auto;
        margin-left: auto;

        &.testimonial-top .tst-image {
            margin-bottom: 30px;
        }

        &.testimonial-top .tst-text {
            margin-bottom: 30px;
        }

        .tst-job {
            text-transform: uppercase;
            margin-bottom: 0;
        }
    }
}

.block-deal-full {
    background: url("../images/bg-deal-full-rtl.jpg") no-repeat top center;
    .clearfix();

    .block {
        max-width: 830px;
        float: left;
    }
}

.product-7-style .block-deal-full {
    .image-product {
        position: relative;
    }

    .products-grid .product-item-info {
        padding: 20px;
        background-color: #fff;
    }

    .deals-countdown {
        padding-top: 25px;
    }

    .deals-countdown .deals-time {
        margin: 0 2px;
        min-width: 65px;
        padding: 3px 10px 7px;
    }

    .deals-countdown .deals-time .num-time {
        font-size: 150%;
        color: #222;
    }
}