/**
 * Label product
 */

.product-labels {
    .product-label {
        display: block;
        height: 26px;
        text-align: center;
        padding: 0 10px;
        line-height: 26px;
        text-transform: uppercase;
        min-width: 60px;
        font-weight: normal;
		font-size:92.85%;
    }

    .new-label {
        background-color: #fff;
		color:#111;
    }

    .sale-label {
        background-color: #df4646;
		color:#ffffff;
    }
}

.products-list .image-product {
    position: relative;
}

.products-list,
.products-grid {
    .product-labels {
        .product-label {
            position: absolute;
            top: 10px;
            z-index: 20;
            font-size: 13px;
			.border-radius(0 3px 3px 0px);
        }

        .new-label {
            right: 0px;
        }

        .sale-label {
            left: 0px;
        }
    }
}
.rating-summary .rating-result {
    width: 82px;
}

.rating-summary .rating-result > span:before,
.rating-summary .rating-result:before {
    font-size: 16px;
}
/**
 * Grid style
 */

.products-grid {
    .product-item {
        font-size: unset;
    }

    .product-item .price-box {
        margin: 5px 0 15px;
    }

    .product-item .price-box {
        .price {
            font-size: 114.28%;
            font-weight: 400;
            color: #111111;
        }

        .old-price .price {
            color: #aaaa;
            font-size: 100%;
            position: relative;
            top: 1px;
        }
    }
	.deals-countdown {
		margin: 0;
		position: absolute;
		width: 100%;
		top: -63px;
		left: 0;
		z-index: 1;
		text-align: center;
		.transition(.4s);
		.deals-time {
			display: inline-block;
			vertical-align: top;
			text-align: center;
			border: 0;
			padding: 6px 0px; 
			background: #fff;
			min-width: 48px;
			margin: 0 2px;
			.border-radius(3px);
			.num-time{
				font-size: 171.42%;
				color: #111;
				font-weight: normal;
				line-height:25px;
			}
			.title-time{
				font-size:85.71%;
				color:#555555;
			}
		}
	}
    .product-image-container {
        vertical-align: top;
    }

    .product-reviews-summary {
        display: block;
    }

    .product-item .product-reviews-summary .rating-summary {
        display: inline-block;
    }

    .product-reviews-summary .reviews-actions {
        display: none;
    }
	ul.category-name{
		.ul-nostyle();
        .clearfix();
		li{
			display:inline-block;
			margin:10px 0;
			a{
				color: #aaaaaa;
				font-size: 92.85%;
				text-transform: uppercase;
				display: block;
				&:hover{
					color:#111;
				}
			}
		}
	}
	.swatch-option.color{
		.border-radius(50%);
		margin-bottom:5px;
		&.selected,&:hover {
			border: 5px solid #fff !important;
			box-shadow: 0 0 0 !important;
			&:before{
				.opacity(1);
				visibility:visible;
			}
		}
		&:before{
			.border-radius(50%);
			.opacity(0);
			visibility:hidden;
			border-color: #111 !important;
			top: -4px;
		}
		
	}
    .product-item-details {
        text-align: center;
        border-top: 0;
        padding: 12px 0px 0;
        position: relative;

        .quickview-handler {
            height: 36px;
            line-height: 36px;
            position: absolute;
            left: 0;
            right: 0;
            text-transform: uppercase;
            opacity: 0;
            visibility: hidden;
            z-index: 20;
        }
    }

    .product-item-name {
        font-size: 114.28%;
        margin: 0 0 6px;
		text-transform:capitalize;
        a {
            display: inline-block;
        }
    }

    .product-item-actions {
        .actions-primary {
            display: block;
        }

        .actions-primary button {
            height: 44px;
            line-height: 44px;
            background-color:#ffffff;
            color: #222;
            padding: 0 15px;
            font-size: 100%;
            text-transform: uppercase;
            font-weight: 400;
            position: absolute;
            top: -54px;
            left:10px;
            right: 10px;
			width: -moz-available;
            z-index: 20;
            opacity: 0;
            visibility: hidden;
            .border-radius(3px);
            .box-shadow-none();
            .transition(.1s);
			&:hover{
				 background-color:#111;
				color: #fff;
			}
        }

        .actions-secondary {
            font-size: 0;
            position: absolute;
            left: 50%;
            top: -40px;
            z-index: 20;
            opacity: 0;
            visibility: hidden;
            transition: opacity .1s, visibility .1s;
            -webkit-transition: opacity .1s, visibility .1s;
            .transform(translate(-50%, 0));

            .action {
                display: inline-block;
                position: static;
                vertical-align: top;
                margin: 0 2px;
                width: 44px;
                height: 44px;
                text-align: center;
                line-height: 44px;
                background-color: #fff;
                color: #222;
                border: none;
                opacity: 1;
                visibility: visible;
                .transition(.1s);
				.border-radius(3px);
                .box-shadow(0 0 10px rgba(0, 0, 0, 0.1));
				&:hover{
					 background-color:#111;
					color: #fff;
				}
            }

            .action:before,
            .action span {
                display: none !important;
            }

            .towishlist:after {
                .icomoon(e93f, 16px);
            }

            .tocompare:after {
                .icomoon(e96f, 16px);
            }

            .quickview-handler:after {
                .icomoon(e954, 16px);
            }
        }
    }

    .product-item-info {
        background-color: #fff;
        height: 100%;
        width: 100%;
        position: relative;
        padding-bottom: 5px;
		
        &:before {
            opacity: 0;
            visibility: hidden;
            content: "";
            display: block;
            position: absolute;
            left: -15px;
            top: -15px;
            right: 15px;
            width: calc(~'100% + 30px');
            height: calc(~'100% + 15px');
            z-index: -1;
            .box-shadow(0 10px 20px rgba(0, 0, 0, 0.05));
            .transition(.4s);
        }
        &:hover {
            position: relative;
            z-index: 30;
            
			&:before,.deals-countdown {			
                .opacity(1);
                visibility: visible;
            }
			.deals-countdown {			
                .opacity(0);
                visibility: hidden;
            }
            .product-item-actions .actions-secondary,
            .product-item-actions .actions-primary button {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    .swatch-attribute:last-child {
        margin-bottom: 10px;
    }

    .swatch-attribute-options {
        margin: 0;
    }

    .swatch-option {
        float: none;
        display: inline-block;
        margin-left: 3px;
        margin-right: 3px;
    }
}

/**
 * Block slider product page
 */

.detail-product-slider {
    .block-title {
        font-size: 138.461%;
        color: #222;
        text-transform: uppercase;
        margin-bottom: 12px;
    }

    .block-content {
        border: 1px solid #e5e5e5;
    }

    .owl-theme .owl-nav {
        margin: 0;
        position: absolute;
        top: -44px;
        right: 0;
    }

    .owl-theme .owl-nav [class*='owl-'] {
        margin: 0;
        padding: 0;
        width: 26px;
        height: 34px;
        line-height: 32px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        color: #888;
        .border-radius(0);
        .transition(.1s);

        &:before {
            font-size: 18px;
        }

        &.owl-next {
            border-left: none;
        }

        &.owl-prev {
            border-right: none;
        }
    }
}

/**
 * Product wishlist page
 */
.products-grid.wishlist .product-item .price-box {
    margin: 5px 0 15px;
}

.products-grid.wishlist .product-item .fieldset .field.qty {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.products-grid.wishlist {
    .product-item-info {
        text-align: center !important;
        padding-bottom: 20px;

        .product-item-inner {
            position: static;
        }

        .box-tocart {
            margin-bottom: 10px;
        }
    }
}
