.block-home-35 {
	.block-title {
		text-align: center;
		margin-bottom: 50px;
		strong {
			color: #111111;
			font-size: 3rem;
			text-transform: uppercase;
		}
	}
	.owl-theme .owl-nav {
        margin: 0;
    }

    .owl-theme .owl-nav [class*='owl-'] {
        padding: 0;
		width: auto;
		height: auto;
        text-align: center;
		background-color: transparent !important;
        position: absolute;
        top: 50%;
        margin:-30px 0 0;
        .border-radius(0);
        .transition(.1s);
		 color:rgba(0,0,0,0.1);
		.box-shadow(0 0 0);
        &.owl-next {
            right: -30px;
            &:before {
                .icomoon(e930, 34px);
            }
        }

        &.owl-prev {
            left: -30px;
            &:before {
                .icomoon(e92f, 34px);
            }
        }
		&:hover:before {
			color:#000 !important;
        }

    }
    &.slidershow {

		.owl-theme .owl-nav [class*='owl-'] {
			&.owl-next {
				right: 10px;
			}
			&.owl-prev {
				left: 10px;

			}
			&:before {
				color:#fff !important;
			}
			&:hover:before{
				color:#000 !important;
			}
		}
    }
    &.tabs-product-slider {
		.ltabs-tabs-container {
			margin-bottom: 60px !important;
			.ltabs-tabs li {
				.border-radius(0);
				border: 2px solid #eeeeee;
				font-size: 1.4rem;
				font-weight: bold;
				color: #111111;
				margin: 0 4px;
				padding: 17px 60px;
				&:hover, &.tab-sel {
					border-color:#111111;
					background-color:#111111;
					color:#ffffff;
				}
			}
		}
		.products-grid{
				margin: -30px;
				.owl-stage-outer {
					padding-top:30px;
					padding-bottom:30px;
				}
				.product-item {
					margin-bottom:0px !important;
				}
		}

    }
}
.fashion-categories-v35 {
	.block-categories .cat-wrap .item{
		text-align: center;
		margin-bottom: 0;
		padding: 0;
		.image-cat {
			margin-bottom: 30px;
			img {
				.border-radius(50%);
				margin: 0 auto;
			}
		}
		.cats-info {
			h2 {
				font-size: 2rem;
				text-transform: uppercase;
				margin-bottom: 10px;
			}
			span.count {
				display: block !important;
				color: #111;
				opacity: 1 !important;
				visibility: visible !important;
				font-size: 100%;
				text-transform: uppercase;
			}
			a.btn-view {
				display: block;
				background: #111;
				color: #fff;
				text-transform: uppercase;
				text-align: center;
				height: 45px;
				line-height: 45px;
				font-size: 14px;
				font-weight: bold;
				margin-top: 20px;

			}
		}
		&:hover .image-cat{
			img{
				-webkit-animation:spin 3s linear infinite;
				-moz-animation:spin 3s linear infinite;
				animation:spin 3s linear infinite;
			}
		}
	}
	&.block-home-35 .owl-theme .owl-nav [class*=owl-]{
		top: 35%;
		&.owl-prev{
			left: -45px;
		}
		&.owl-next{
			right: -45px;
		}
	}
}
.block-home-35.block-category-center {
	background: #f9f9f9;
	padding: 24px 0;
	.info {
		text-align: center;
		margin-top: 25px;
		h3 {
			font-size: 3rem;
			text-transform: uppercase;
			font-weight: bold;
			color:#111111;
			margin: 0;
		}
		p {
			color:#111111;
			font-size: 1.4rem;
			margin: 10px 0 25px 0;
		}
		a.btn-shop {
			display: inline-block;
			border: 2px solid #111;
			padding: 0 40px;
			height: 60px;
			line-height: 60px;
			font-weight: 700;
			text-transform: uppercase;
			font-size: 1.4rem;
			background: #fff;
			cursor: pointer;

			&:hover {
				background: #111;
				color:#fff;
			}
		}
	}
	.banner-home {
		border-left:10px solid #ff455d;
		border-right:10px solid #cafa00;
		border-top:10px solid #9558fe;
		border-bottom:10px solid #f99cb7;
		.banner-image {
			margin-bottom: 0;
		}
	}
	.list-categories {
		background: #fff;
		text-align: center;
		padding: 60px 0;
		h3 {
			font-size: 1.6rem;
			text-transform: uppercase;
			font-weight: normal;
			padding: 0 0 50px 0;
		}
		ul {
			.ul-nostyle();
			.clearfix();
			li {
				a{
					font-size: 1.6rem;
					text-transform: uppercase;
					font-weight: bold;
					&.view-all {
						display:block;
						padding: 50px 0 0 0;
						text-decoration: underline;
					}
				}
			}
		}
	}
}
.block-aboutus-35 {
	.content {
		padding-left: 115px;
		h3 {
			font-size: 3rem;
			text-transform: uppercase;
			font-weight: bold;
		}
		p {
			font-size: 1.4rem;
			margin: 18px 0 50px 0;
			line-height: 30px;
		}
		a.bt-shop {
			font-size: 1.4rem;
			font-weight: 700;
			text-transform: uppercase;
			line-height: 55px;
			height: 55px;
			color: #111;
			background-color: #f5f5f5;
			display: inline-block;
			padding: 0 30px;
		}
	}
}
.block-service-v35 {
	.item{
		text-align: center;
		margin: 24px 0;
		.icon {
			margin-bottom:20px;
			img {
				.transition(.2s);
			}
		}
		.info h3 {
			color: #111;
			font-size: 1.4rem;
			font-weight: bold;
			text-transform: uppercase;
			margin: 0px;
		}
		&:hover .icon {
			img {
				.transform(translateY(-5px));
			}
		}
	}
}
.clients-say-v35 {
    background: #fdf7f0;
	text-align: center;
	padding: 70px 0;
    .block-clients {
		position:relative;
		&:after,&:before{
			display:block;
			content:"";
			position:absolute;
			width:180px;
			height:128px;
			top: 50%;
			.transform(translateY(-50%));
		}
		&:after{
			background:url('../images/quote2.png') no-repeat 0 0;
			right:0;
		}
		&:before{
			background:url('../images/quote1.png') no-repeat 0 0;
			left:0;
		}
		.block-title {
			margin-bottom: 0 !important;
			strong{
				font-size:2.4rem !important;
			}
		}
		.block-content{
			width: 60%;
			margin: 0 auto;
		}
		.item {
			.client-info {
				.description {
					font-size:1.8rem;
					margin: 25px 0 30px 0;
					line-height: 30px;
				}
				.info-detail h3 {
					font-size:1.4rem;
					text-transform: uppercase;
					font-weight: 700;
				}
			}
		}
    }
}
.block-customer.block-home-35{
	.block-content{
		width: 55%;
		margin: 0 auto;
		.item {
			text-align: center;
			padding: 10px 0  10px;
			.img-customer {
				width: 210px;
				.border-radius(50%);
				border: 10px solid #fff;
				position: relative;
				display: block;
				margin: 0 auto;
				img {
					width: auto;
					margin: 0 auto;
				}
				&:before{
					display: block;
					content: "";
					position: absolute;
					border: 4px solid #eeeeee;
					width: calc(~'100% + 28px');
					height: calc(~'100% + 28px');
					top: -14px;
					right: -14px;
					z-index: 99999;
					.border-radius(50%);
				}
			}
			h3.name {
				font-size:16px;
				font-weight:bold;
				margin: 32px 0 0 0;
			}
			&:hover  .img-customer img{
				-webkit-animation:spin 3s linear infinite;
				-moz-animation:spin 3s linear infinite;
				animation:spin 3s linear infinite;
			}
		}
	}
	.owl-theme .owl-nav [class*=owl-] {
		margin: -45px 0 0;
	}
}
.home-countdown {
	background: #b1926f;
	text-align:center;
	padding: 5px 0 10px 0;
	margin-bottom:30px;
	text-transform: uppercase;
	p {
		font-size:1.8rem;
		color:#fff;
		font-weight:500;
		margin: 0px;
		line-height: 24px;
		strong {
			margin: 0 15px;
		}
	}
	.content-top {
		display:flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 0;
		flex-wrap: wrap;
	}
	.countdown-static {
			display:flex;
			margin: 10px 35px;
			.deals-time {
				display: flex;
				align-items: center;
				&:after{
					display: inline-block;
					content: ":";
					color: #fff;
					font-weight: bold;
					font-size: 16px;
					margin: 0 5px;
				}
				&:last-child:after{
					display:none;
				}
				.num-time {
					background: #111;
					color: #fff;
					font-weight: 500;
					padding: 6px 0;
					margin: 0 2px;
					min-width: 50px;
					height: 40px;
					line-height: 30px;
					font-size: 24px;
					.border-radius(4px);
				}
				.title-time {
					display:none;
				}
			}
		}
}
