@media (min-width: 768px) and (max-width: 991px) {
    .newsletter-footer .newsletter-title {
        display: none;
    }
}

@media (max-width: 767px) {
    .social-footer {
        background: none;
        padding: 20px 0 0;
    }

    .newsletter-footer {
        padding: 0 0 20px;
        display: block;
    }

    .footer-block.footer-contact {
        background: none;
        margin: 0;
        padding: 30px 0;
    }

    .footer-block {
        padding-top: 0;
        margin-bottom: 25px;
    }

    .payment-footer {
        text-align: unset;
        padding-top: 15px;
    }
}