@media (max-width: 1024px) {
    .footer-contact li {
        margin-bottom: 10px;
    }

    .footer-phone {
        margin-bottom: 15px;
    }

    .ft-bottom-content {
        text-align: center;
    }

    .footer-links-bottom {
        float: none;
    }

    .footer-links-bottom ul li {
        float: none;
        display: inline-block;
        vertical-align: top;
    }

    .footer-copyright {
        float: none;
    }
}