.sv-list {
    padding: 20px 0;

    .sv-item a {
        display: block;
        border: 1px solid #e5e5e5;
        padding: 0 15px;
        margin: 10px 0;
        height: 48px;
        line-height: 46px;
        text-align: center;
        .transition(.1s);

        &:before {
            margin-right: 5px;
            vertical-align: middle;
            position: relative;
        }
    }

    .free-ship a:before {
        top: -2px;
        .icomoon(e97b, 20px);
    }

    .money-back a:before {
        top: -2px;
        .icomoon(e981, 20px);
    }

    .online-support a:before {
        top: -2px;
        .icomoon(e947, 20px);
    }

    .free-gift a:before {
        top: -2px;
        .icomoon(e93c, 20px);
    }
}

.title-2 {
    .block .block-title {
        text-transform: uppercase;
        color: #222;
        font-size: 180%;
        margin-bottom: 20px;
        padding-bottom: 6px;
        position: relative;

        &:before {
            content: "";
            display: block;
            width: 50px;
            height: 3px;
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }
}

.product-8-style .listingtabs {
    margin-left: -15px;
    margin-right: -15px;
}

.nav-text {
    .owl-theme .owl-nav [class*='owl-'] {
        margin-right: 0;
        margin-left: 5px;
        margin-top: 0;
        background-color: #fafafa;
        border: 1px solid #d5d5d5;
        height: 35px;
        line-height: 33px;
        padding: 0 20px;
        color: #111;
        text-transform: uppercase;
        .border-radius(3px);
        .transition(.1s);

        &:before {
            display: none;
        }

        span {
            display: block;
        }

        &.owl-next span:after {
            line-height: 1;
            position: relative;
            top: 2px;
            margin-left: 3px;
            .icomoon(e91c, 17px);
        }

        &.owl-prev span:before {
            line-height: 1;
            position: relative;
            top: 2px;
            margin-right: 3px;
            .icomoon(e91b, 17px);
        }
    }
}

.tabs-product-2 .block {
    margin: 0;

    .products.wrapper.products-grid.one-row .product-items .product-item {
        margin-bottom: 0;
    }
}

.tabs-product-2.nav-text .owl-theme .owl-nav {
    position: absolute;
    top: -61px;
    right: 15px;
    margin: 0;
}

.full-banner-23 {
    ul {
        display: flex;
        flex-wrap: wrap;
        .ul-nostyle();

        li {
            width: 33.333333333%;
        }
    }
}

.full-cats-slider {
    background: url("../images/bg-hot-categories.jpg") no-repeat top center;
    background-size: cover;

    .title-2 .block .block-title {
        color: #fff;
    }
}

.cat-slider {
    .block-categories .cat-wrap .item {
        margin: 0;
        padding: 0;
    }

    .block-categories .cat-wrap .item .image-cat {
        margin: 0;
        border: 1px solid transparent;
        padding: 15px;
        position: relative;
        .transition(.1s);

        &:hover {
            border-color: #fff;
        }
    }

    .cats-info {
        text-align: center;
    }

    .block-categories .cat-wrap .item .cat-title {
        font-weight: 700;
        margin-bottom: 0;
        font-size: 120%;
        position: absolute;
        text-transform: uppercase;
        color: #222;
        top: 50%;
        left: 50%;
        .transform(translate(-50%, -50%));
    }

    .cat-title a {
        display: block;
        background-color: #fff;
        height: 42px;
        line-height: 42px;
        padding: 0 20px;
        color: #222;
        .transition(.1s);
    }

    .btn-view {
        display: none;
    }

    .owl-theme .owl-nav {
        position: absolute;
        top: -61px;
        right: 15px;
    }
}

.brand-slider-23 {
    .item a {
        border: 1px solid transparent;
        display: block;

        &:hover {
            border-color: #111;
        }
    }

    .owl-theme .owl-nav {
        position: absolute;
        top: -61px;
        right: 0;
        margin: 0;
    }
}

.deals-count {
    background-color: #111;

    .block {
        margin-bottom: 0;
    }

    .owl-carousel.owl-theme .owl-nav {
        display: none;
    }

    .block-filterproducts {
        .clearfix();
    }

    .info-column {
        background-color: #fff;
        width: 370px;
        float: left;
        text-align: center;
        margin: 30px 0 0;
        padding: 30px 30px 24px;
    }

    .block-title {
        text-transform: uppercase;
        color: #222;
        font-size: 180%;
        margin-bottom: 15px;
        position: relative;
    }

    .block-content {
        width: calc(~'100% - 370px');
        padding-left: 15px;
        float: right;
    }

    .deal-count-block {
        margin: 0 -30px 0;
    }

    .description-text {
        margin-bottom: 20px;
    }

    .deals-countdown {
        padding: 20px 30px 30px;
        margin-bottom: 23px;
        background-color: #f5f5f5;

        .deal-text {
            font-size: 107.60%;
            text-transform: uppercase;
            font-weight: 700;
            color: #111;
            margin-bottom: 10px;
        }

        .deals-time {
            width: 68px;
            text-transform: uppercase;
            border: none;
            padding: 0;
            margin: 0 2px;
        }

        .deals-time .num-time {
            height: 43px;
            line-height: 43px;
            font-size: 135%;
            font-weight: 700;
            .border-radius(3px 3px 0 0);
        }

        .deals-time .title-time {
            background-color: #111;
            height: 29px;
            line-height: 29px;
            color: #fff;
            .border-radius(0 0 3px 3px);
        }
    }

}

.product-8-style .deals-count {
    .products-grid .product-item {
        margin-bottom: 0;
    }

    .products-grid .product-item-inner {
        bottom: 30px;
    }

    .products-grid .product-item-info {
        background-color: transparent;
        border: none;
        padding-top: 30px;
        padding-bottom: 67px;

        .product-item-name a {
            color: #fff;
        }

        .product-item-actions .actions-secondary .action,
        .product-item-actions .actions-primary button {
            background-color: #1a1a1a;
            border-color: #444;
            color: #fff;
        }

        &:hover {
            background-color: #222;
        }
    }
}