@media (max-width: 1200px) {
    .footer-top {
        text-align: center;
        padding-bottom: 35px;

        .block-subscribe-footer {
            max-width: 800px;
            margin: 20px auto 0;
        }

        .logo-container {
            margin-bottom: 10px;
        }
    }

    .footer-bottom {
        text-align: center;
    }

    .ft-bottom-content .social-block-list ul {
        float: none;
        padding: 10px 0 0;
    }
}