@media (min-width: 768px) and (max-width: 991px) {
    .social-footer {
        text-align: unset;
    }

    .ft-middle-block .ft-middle-title,
    .app-store .ft-middle-title {
        display: block;
        padding: 0;
    }
}

@media (max-width: 767px) {
    .ft-middle-block {
        text-align: center;
    }
}