.page-footer {
    background-color: #222222;
    color: #999;

    a {
        color: #999;
    }
}

.footer-block {
    margin-bottom: 30px;

    .footer-block-title {
        font-size: 123.08%;
        color: #fff;
        margin-bottom: 15px;
    }

    .footer-links {
        .ul-nostyle();

        li a:hover {
            color: #fff;
        }
    }

    .social-block-list ul {
        .ul-nostyle();

        li {
            display: inline-block;
            vertical-align: top;
            font-size: 23px;
            margin-right: 20px;
        }

        li a:hover {
            color: #fff;
        }
    }
}

.footer-bottom {
    padding-bottom: 40px;
}

.payment-footer {
    text-align: right;
}