@media (min-width: 1920px){
	.block-home-33.block-sale-off .item{
		padding:0 0 0 4rem;
		margin-left:4rem;
	}
}
@media (min-width: 1200px) and (max-width: 1400px){
	.block-home-33.block-sale-off {
		.item {
			padding: 0 2rem;
		}
		.btn-shopnow{
			margin-right: 3rem;
		 }
	}
}
@media (max-width: 1199px){
	.block-home-33.block-sale-off {
		padding: 35px 0 50px;
		.item{
			border:0px;
			margin-bottom: 35px;
		}
		.btn-shopnow {
			margin:15px 0 0 0;
		}
	}
	.block-group-hot .block-item.block-testimonial {
		background:#fff;
	}
}
@media (min-width: 992px) and (max-width: 1199px){
	.block-group-hot .block-item{
		margin-bottom:30px; 
	}
	.block-home-33.banner-home .content{
		padding: 35px;
		h3 {
			font-size: 3rem;
		}
	}
}
@media (max-width: 991px){
	.block-home-33.banner-home{
		> img {
			display:none;
		}
		.content {
			position:static;
			padding: 15px;
			h3 {
				font-size: 4rem;
			}
			p {
				line-height: 24px;
				margin-bottom: 50px;
			}
			h3, p {
				color:#111;
				text-shadow: 0px 0px !important;
			}
			
		}
	}
	.block-group-hot .block-item.block-testimonial {
		background:#fff;
		padding-bottom: 40px;
		.block-content{
			padding: 0;
			.box-shadow(0 0 0);	    
		}
	}
}
@media (min-width: 820px) and (max-width: 991px){ 
	.block-group-hot .block-item.block-popular {
		padding-bottom: 45px;
	}
}
@media (min-width: 768px) and (max-width: 991px){
	.block-group-hot .block-item.block-collections {
		margin-bottom: 30px;
	}
}
@media (max-width: 767px){
	
	
}
@media (max-width: 567px){
	.block-home-33.block-deal-products .block-filterproducts .block-content .products-grid{
		flex-wrap: wrap;
		.block-countdown{
			margin-bottom:30px;
		}
		.block-countdown,.block-slider-products {
			width: 100%;
		}
	}
	.block-home-33.banner-home .content .item{
	    margin-bottom: 20px;
	}
	.block-group-hot .block-item{    
		margin-bottom: 30px;
	}
	.block-home-33 .block-categories .cat-wrap .item .cat-title{
		font-size:1.4rem;
	}
	
}