.footer-content {
    background-color: #fff;
}
.footer-top{
    padding: 28px 0px;
}
.footer-middle {
    padding: 60px 0 40px;
}
.ft-newsletter {
    margin-top: -60px;
    padding: 38px 40px;
    .border-radius(10px);
}
.block-subscribe {
	display: flex;
    align-items: center;
    flex-wrap: wrap;
	h3 {
		font-size: 18px;
		font-weight: 400;
		color:#fff;
		margin-right:60px;
	}
}
.block-subscribe-footer {
	margin-left:auto;
	flex: 1 1 0;
	.newsletter-content {
		width: 100%;
		.input-box input{
			height: 44px;
			background-color: #fff;
			float: left;
			.border-radius(5px);
			padding: 0 20px;
			margin: 0;
			border:0px; 
			color:#000;
			font-size:14px;
		}

		button {
			height: 44px;
			padding: 0 22px;
			color: #fff;
			font-size: 14px;
			text-transform: uppercase;
			.border-radius(5px);
			float: left;
			background-color: #000;
			border: 0;
			margin-left: -5px;
			margin-bottom: 0;
			position: absolute;
			right: 15px;
			&:hover {
				background-color:#fff !important;
			}
		}
	}
}



.footer-block {
    margin-bottom: 32px;

    .footer-block-title {
        color: #000000;
		font-size: 18px;
		font-weight: 700;
		margin-bottom: 20px;
    }

    .ft-links{
        .ul-nostyle();
		
        a {
            color: #888888;
			padding-left: 0px;
			padding-right: 0px;
			padding-top: 6px;
			padding-bottom: 6px;
			font-size: 14px;
			.transition(.3s);
			&:hover {
				padding-left:10px;
			}
        }
		
    }
	.ft-contact {
		.ul-nostyle();
		li {
			color: #888888;
			font-size: 14px;
			display:flex;
			align-items: center;
			margin-bottom: 20px;
			[class^="icon-"] {
				color: #000;
				font-size: 18px;
				width: 28px;
			}
		}
	}

    
}
.social-block-list ul { 
        .ul-nostyle();
        .clearfix();
        li {
            float: left;
            margin-right: 10px;
            margin-bottom: 5px;
			a {
				display: block;
				width: 45px;
				height: 45px;
				background-color:#fff;
				color: #222222;
				text-align: center;
				line-height: 50px;
				font-size: 18px; 
				.border-radius(50%);
				.transition(.3s);
				&:hover {
					.transform(translateY(10px));
				}
			}
			
        }   
    }
.footer-bottom {
    padding: 20px 0px;
	border:1px solid #EEEEEE; 
    address {
        margin: 5px 0 0;
		font-size:1.3rem;
		text-align: right;
		
    }

    
}