.slidershow-type-8.nav-radius .owl-theme .owl-nav [class*='owl-'] {
    .border-radius(15px);
}

.attr-container {
    margin-top: -70px;
    position: relative;
    z-index: 20;
}

.attr-container .smas-container .chosen-container-single.chosen-disabled .chosen-single div {
    background-color: #f5f5f5;
}

.attr-container .smas-container {
    background-color: #111;
    padding: 40px 100px;
    .border-radius(10px);

    .smas-attr {
        float: right;
    }

    .chosen-container-single .chosen-single div {
        left: 0;
        right: auto;
    }

    .chosen-container-single .chosen-single {
        padding-right: 30px;
        padding-left: 0;
    }

    .chosen-container-single .chosen-single span {
        margin-left: 50px;
        margin-right: 0;
    }

    .smas-group-left {
        margin-left: 148px;
        margin-right: 0;
    }

    .smas-group-right {
        left: 0;
        right: auto;
    }

    select {
        height: 60px;
        border: none;
        .border-radius(5px);
    }

    .chosen-container-single .chosen-single {
        height: 60px;
        line-height: 60px;
        font-size: 114.285%;
        color: #111;
        border: none;
    }

    .chosen-container-single .chosen-single div {
        height: 60px;
        text-align: center;
        background-color: #f5f5f5;
        color: #111;

        &:before {
            line-height: 60px;
        }

        b {
            background: none !important;
        }

        b:before {
            .icomoon(f0d7, 18px);
        }
    }

    .smas-attr-inner button {
        height: 60px;
        line-height: 60px;
        font-size: 114.285% !important;
        font-weight: 700;
        padding: 0;
        opacity: 1;

        &:before {
            width: auto;
            height: auto;
            margin-left: 3px;
            position: relative;
            top: -1px;
            .icomoon(e954, 20px)
        }

        &.btn-reset {
            display: none !important;
        }
    }

    .chosen-container .chosen-drop {
        border: none;
        padding: 5px;
    }

    .chosen-container .chosen-results li {
        padding: 10px;
    }

    .chosen-container .chosen-results li.highlighted,
    .chosen-container .chosen-results li:hover {
        background: #eee;
        color: #222;
    }

    .chosen-container-single .chosen-search input[type=text] {
        padding: 10px;
        border-color: #ddd;
    }

    .smas-attr-inner .btn {
        .border-radius(5px);
    }
}

.cats-grid-inner {
    .block-categories .cat-wrap .item {
        width: 25%;
    }

    .btn-view,
    .child-cat {
        display: none;
    }

    .content-box {
        position: relative;
        text-align: center;
        overflow: hidden;
        .border-radius(10px);
    }

    .block-categories .cat-wrap .item .image-cat {
        margin: 0;
    }

    .cats-info {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;

        .cat-title {
            font-size: 116.67%;
            text-transform: uppercase;
            margin: 0 !important;
        }

        a {
            display: block;
            padding: 18px 10px;
            background-color: transparent;
            color: #222;
            .transition(.1s);
        }
    }
}

.block-des-bottom {
    .block {
        margin-bottom: 0;
    }

    .block-title {
        text-align: center;
        margin-bottom: 30px;
    }

    .block-categories .cat-wrap {
        margin: 0;
    }

    .block-title strong {
        display: block;
        font-size: 340%;
        color: #222;
    }

    .block-title p {
        font-size: 107.69%;
        color: #888;
    }

    .owl-theme .owl-nav [class*='owl-'] {
        width: 60px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        padding: 0;
        background-color: #fff;
        border: none;
        color: #222;
        position: absolute;
        top: 50%;
        margin: -30px 0 0;
        .border-radius(10px);
        .box-shadow(0 0 10px rgba(0, 0, 0, 0.1));

        &:before {
            font-size: 24px;
        }

        &.owl-next {
            right: -30px;
        }

        &.owl-prev {
            left: -30px;
        }
    }

    .products-grid .product-item {
        margin-bottom: 0;
    }
}

.block-des-bottom.cat-no-image .owl-theme .owl-nav [class*='owl-'] {
    &.owl-next {
        right: -60px;
    }

    &.owl-prev {
        left: -60px;
    }
}

.cat-no-image {
    .count,
    .btn-view {
        display: none;
    }

    .block-categories .cat-wrap {
        background-color: #f9f9f9;
        padding: 40px 30px 20px;
        .border-radius(10px);
    }

    .block-categories .cat-wrap .item {
        margin-bottom: 0;
        padding: 0;
    }

    .block-categories .cat-wrap .item .cat-title {
        font-size: 116.67%;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 20px;

        a {
            color: #222;
        }
    }

    .block-categories .cat-wrap .item .sub-cats li {
        font-size: 107.69%;

        a {
            display: table;
            padding: 2px 0;
        }

        a:before {
            vertical-align: top;
            position: relative;
            top: -1px;
            .icomoon(e92f, 16px);
        }
    }
}

.bottom-grid-brand {
    ul {
        margin: 0 -10px;
        padding: 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
    }

    ul li {
        padding: 0 10px;
        margin-bottom: 20px;
        width: 16.666666667%;

        a {
            display: block;
            border: 2px solid #f3f3f3;
            overflow: hidden;
            .border-radius(10px);
        }
    }
}