<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<searchbox>
			<general>
				<root_catalog>2</root_catalog>
				<max_level>3</max_level>
				<enable_searchpro>1</enable_searchpro>
			</general>
		</searchbox>
	</default>
</config>