@media (min-width: 1200px) {
    .footer-blog {
        padding-left: 30px;
    }
}

@media (max-width: 767px) {
    .footer-bottom .bottom-content {
        text-align: center;
    }

    .payment-footer {
        text-align: unset;
        padding-top: 10px;
    }
}

